<% if @user.role == "admin" || @user.role == "superadmin" %>
<div id="token_space">
  -
</div>
<button type="button" name="generate_signuptoken" id="generate_token">Generate Signup Token</button>
<% end %>
<% if @user.role == "superadmin" %>
<br>
<br>
<div id="superadmin_token_space">
  Currently Active Tokens:
  <ul>
  <% Signuptoken.all.each do |t| %>
    <li><%= t.token_text %></li>
  <% end %>
  </ul>
</div>
<br>
<a href="<%= signuptokens_path %>" class="fakebutton" id="clear_signuptokens">Clear All Signup tokens</a>
<% end %>

<ul>
  <% @users.each do |user| %>
    <li class="user_line"><a href="<%= profile_path(user) %>" class="fakebutton user_edit">Edit</a><%= user.name %>, <%= user.email %>, <%= user.phone %></li>
  <% end %>
</ul>
