<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field  :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone, 'Phone Number' %><br />
    <%= f.text_field  :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :company, 'Company/Organization' %><br />
    <select name="user[company]">
      <% Contractor.all.each do |c| %>
      <option value="<%= c.name %>"><%= c.name %></option>
      <% end %>
      <!-- <option value="TASI: Station Maintenance">TASI: Station Maintenance</option>
      <option value="TASI: Track">TASI: Track</option>
      <option value="TASI: Comms">TASI: Comms</option>
      <option value="TASI: Radio">TASI: Radio</option>
      <option value="TASI: Signal">TASI: Signal</option>
      <option value="TASI: Capital Project Support">TASI: Capital Project Support</option>
      <option value="SDJV">SDJV</option>
      <option value="Proven Management Inc.">Proven Management Inc.</option>
      <option value="Third Party">Third Party</option>
      <option value="Wabtec">Wabtec</option>
      <option value="BBII">BBII</option>
      <option value="RSE">RSE</option>
      <option value="MRS">MRS</option>
      <option value="Drill Tech">Drill Tech</option>
      <option value="NorCal">NorCal</option>
      <option value="PTCC">PTCC</option> -->
    </select><br>

  </div>
  <br>

  <div class="field">
    <label for="user_default_color">Default Color:</label>

    <select name="user[default_color]" id="user_default_color" class="color_ffffff">
      <option class="color_ffffff" selected="selected" value="color_ffffff">#ffffff</option>
      <option class="color_ff1100" value="color_ff1100">#ff1100</option>
      <option class="color_f2bb07" value="color_f2bb07">#f2bb07</option>
      <option class="color_fc9d0f" value="color_fc9d0f">#fc9d0f</option>
      <option class="color_bf7e1d" value="color_bf7e1d">#bf7e1d</option>
      <option class="color_531199" value="color_531199">#531199</option>
      <option class="color_249ee0" value="color_249ee0">#249ee0</option>
      <option class="color_24290f" value="color_24290f">#24290f</option>
      <option class="color_187d3f" value="color_187d3f">#187d3f</option>
      <option class="color_0a5cad" value="color_0a5cad">#0a5cad</option>
      <option class="color_e30eca" value="color_e30eca">#e30eca</option>
    </select>
  </div>
  <br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
