<div id="dash_main">
  <div class="page_title">
    <%= image_tag "Caltrain_logo_4color clear background.png", alt: "Logo", id: "caltrain_logo" %>

    <h1>Right to Work Request Portal</h1>
  </div>
  <% if @user != nil %>
    <% if @user.role == 'admin' || @user.role == 'superadmin' %>
      <div class="control_panel">
        <a href="<%= profiles_path %>">Users</a>
        <br>
        <a href='<%= requests_path %>'>Requests</a>
      </div>
    <% elsif @user.role == 'inspector' %>
    <% end %>
      <div class="account_summary">
        <ul>

        <% @user.requests.each do |request| %>
          <li><%= request.title%>: submitted on <%= request.created_at%></li>
        <% end %>
      </ul>
      </div>
      <br>
      <div class="control_panel">
        <a href="<%= new_request_path %>">New Request Form</a>
        <br>
        <a href='<%= requests_path %>'>Requests</a>
      </div>
  <% end %>
</div>
