<div id="ajax_alert" >Test test test</div>

<% if @user != nil %>
  <% if @user.role == 'admin' %>
    <div class="control_panel">
      <a href="<%= profiles_path %>">Users</a>
      <br>
      <a href='<%= requests_path %>'>Requests</a>
    </div>
  <% elsif @user.role == 'inspector' %>
  <% else %>
    <div class="control_panel">
      <a href="<%= new_request_path %>">New Request Form</a>
    </div>
  <% end %>
<% end %>

<h4>Showing requests for <%= @thisyear %>, week <%= @thisweek %></h4>

<%= form_tag(requests_path, method: "get") do %>
  <% if params["week"] %>
    <%= hidden_field_tag("filter_week", value = params["week"]) %>
    <%= hidden_field_tag("filter_year", value = params["year"]) %>
  <% else %>
    <%= hidden_field_tag("filter_week", value = params["filter_week"]) %>
    <%= hidden_field_tag("filter_year", value = params["filter_year"]) %>
  <% end %>

  <%= label_tag(:year, "Year:") %>
  <%= number_field_tag(:year, @thisyear) %>
  <%= label_tag(:week, "Week:") %>
  <%= number_field_tag(:week, @thisweek) %>

  <%= label_tag(:contractor, "Contractor name:") %>
  <%= text_field_tag "contractor", params["contractor"] %>

  <%= label_tag(:night_work, "Night Work:") %>
  <%= select_tag "night_work", options_for_select([ "", ["yes", "1"], ["no", "0"] ], params["night_work"]) %>
  <%= label_tag(:single_tracking, "Single Tracking:") %>
  <%= select_tag "single_tracking", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["single_tracking"]) %>
  <%= label_tag(:mt1, "MT1:") %>
  <%= select_tag "mt1", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["mt1"]) %>
  <%= label_tag(:mt2, "MT2:") %>
  <%= select_tag "mt2", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["mt2"]) %>
  <%= label_tag(:mt3, "MT3:") %>
  <%= select_tag "mt3", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["mt3"]) %>
  <%= label_tag(:mt4, "MT4:") %>
  <%= select_tag "mt4", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["mt4"]) %>
  <%= label_tag(:other, "Other:") %>
  <%= select_tag "other", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["other"]) %>
  <%= label_tag(:taw, "TAW:") %>
  <%= select_tag "taw", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["taw"]) %>
  <%= label_tag(:form_b, "Form B:") %>
  <%= select_tag "form_b", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["form_b"]) %>
  <%= label_tag(:form_c, "Form C:") %>
  <%= select_tag "form_c", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["form_c"]) %>
  <%= label_tag(:track_and_time, "Track and Time:") %>
  <%= select_tag "track_and_time", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["track_and_time"]) %>
  <%= label_tag(:inacc_track, "Inaccessable Track:") %>
  <%= select_tag "inacc_track", options_for_select([ "", ["yes", "true"], ["no", "false"] ], params["inacc_track"]) %>
  <%= label_tag(:rwp, "RWP:") %>
  <%= select_tag "rwp", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["rwp"]) %>
  <%= label_tag(:ocs, "OCS:") %>
  <%= select_tag "ocs", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["ocs"]) %>
  <%= label_tag(:disturb, "Disturb Track:") %>
  <%= select_tag "disturb", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["disturb"]) %>
  <%= label_tag(:rrm, "RRM on Track:") %>
  <%= select_tag "rrm", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["rrm"]) %>
  <%= label_tag(:foul, "Fould Track:") %>
  <%= select_tag "foul", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["foul"]) %>
  <%= label_tag(:crossings, "Disable/Affect Crossings:") %>
  <%= select_tag "crossings", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["crossings"]) %>
  <%= label_tag(:underground, "Underground Work:") %>
  <%= select_tag "underground", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["underground"]) %>
  <%= label_tag(:flagging, "Crossing Flagging:") %>
  <%= select_tag "flagging", options_for_select([ "", ["yes", "yes"], ["no", "no"] ], params["flagging"]) %>

    <%= submit_tag("Filter") %>

<% end %>
  <%= link_to "Clear Filters", requests_path %>

  <br>
  <br>
  <br>
<%=
  link_to 'Download as Excel',
  requests_path(format: :xlsx)
%>
<br>
<br>
<br>
<br>


<div class="daytab active" data-displaytab="week">
Week
</div>
<div class="daytab inactive" data-displaytab="mon">
Mon
</div>
<div class="daytab inactive" data-displaytab="tue">
Tue
</div>
<div class="daytab inactive" data-displaytab="wed">
Wed
</div>
<div class="daytab inactive" data-displaytab="thu">
Thu
</div>
<div class="daytab inactive" data-displaytab="fri">
Fri
</div>
<div class="daytab inactive" data-displaytab="sat">
Sat
</div>
<div class="daytab inactive" data-displaytab="sun">
Sun
</div>

  <div id="divOverlay">
    <div class="overlay_actions">
      <%= image_tag "red_x.png", class: "closeoverlay", alt: "Pending" %>
      <button type="button" class="showpage overlay_button">Request Details</button>
      <button type="button" class="editrequest overlay_button">Edit</button>
      <% if @user.role != "user" %>
        <div class="daily_approve overlay_button">Approve/Reject Days &#9660;</div>
      <% end %>
    </div>
    <div class="superoverlay">
      <div class="superoverlay_actions">
        <% if @user.role == "superadmin" %>
          <label for="emulate">Admin group to emulate:</label>
          <select id="emulate">
            <option value="1">Group 1</option>
            <option value="2">Group 2</option>
            <option value="3">Group 3</option>
            <option value="4">Group 4</option>
            <option value="all">All Groups</option>
          </select>
        <% end %>
        <button type="button" class="superoverlay_button" data-change="approve_all">Approve All</button>
        <button type="button" class="superoverlay_button" data-change="reject_all">Reject All</button>
        <label for="mon_check">Mon</label>
        <input type="checkbox" id="mon_check" name="mon_check" value="mon_check"> |
        <label for="tue_check">Tue</label>
        <input type="checkbox" id="tue_check" name="tue_check" value="tue_check"> |
        <label for="wed_check">Wed</label>
        <input type="checkbox" id="wed_check" name="wed_check" value="wed_check"> |
        <label for="thu_check">Thu</label>
        <input type="checkbox" id="thu_check" name="thu_check" value="thu_check"> |
        <label for="fri_check">Fri</label>
        <input type="checkbox" id="fri_check" name="fri_check" value="fri_check"> |
        <label for="sat_check">Sat</label>
        <input type="checkbox" id="sat_check" name="sat_check" value="sat_check"> |
        <label for="sun_check">Sun</label>
        <input type="checkbox" id="sun_check" name="sun_check" value="sun_check">
        <div class="superoverlay_button_container">
        <button class="superoverlay_button" data-change="approve_select">Approve Selected</button>
        <button class="superoverlay_button" data-change="reject_select">Reject Selected</button>
        </div>
      </div>
      <div class="shrinkoverlay">Back &#9650;</div>
    </div>
  </div>

  <div id="notesOverlay">
    <div id="notes_workspace">
      <textarea rows="8" cols="80"></textarea>
      <button class="notesoverlay_button savenotes">Save Notes</button>
    </div>
    <%= image_tag "red_x.png", class: "closeNotesOverlay", alt: "close" %>

  </div>

<div class="wrapper">
<div id="weekly_table" class="displaytable">

    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th colspan="7"><div>Support Allocation</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="wmedium"><div>Associated SSWPs</th>
          <th rowspan="2" class="wmedium"><div>Associated CNs</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">RWP Training Complete?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">OCS De-Energize?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Disturb Track?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">RMM On Track?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">RMM Off Track?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Disable/Affect Crossings?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Underground Work Required?</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Crossing Glagging or Traffic</div></th>
          <th colspan="3"><div>Submittal Details</th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">Mon</th>
          <th class="wsmall">Tue</th>
          <th class="wsmall">Wed</th>
          <th class="wsmall">Thu</th>
          <th class="wsmall">Fri</th>
          <th class="wsmall">Sat</th>
          <th class="wsmall">Sun</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
          <th class="wmedium">Date Submitted</th>
          <th class="wmedium">Last Edited</th>
          <th class="wmedium">Submitted By</th>
        </tr>
      </thead>
      <tbody>
<% counter = 1 %>
  <% @requests.each do |request| %>
      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>


            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.groupstatus(1) %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.groupstatus(2) %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.groupstatus(3) %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.groupstatus(4) %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>


      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td class="trigger_overlay <% if request.pending["mile_post"] == "1" %>changed<% end %>"><%= request.weekly.mile_post %></td>
      <td class="trigger_overlay <% if request.pending["control_point"] == "1" %>changed<% end %>"><%= request.weekly.control_point %></td>
      <td class="trigger_overlay <% if request.pending["mt1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["mt2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["mt3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["mt4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td class="trigger_overlay <% if request.monday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["mon_workers"] == "1" %> changed<% end %>"><% if request.weekly.mon_workers != "none" %><%= request.weekly.mon_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.tuesday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["tue_workers"] == "1" %> changed<% end %>"><% if request.weekly.tue_workers != "none" %><%= request.weekly.tue_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.wednesday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["wed_workers"] == "1" %> changed<% end %>"><% if request.weekly.wed_workers != "none" %><%= request.weekly.wed_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.thursday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["thu_workers"] == "1" %> changed<% end %>"><% if request.weekly.thu_workers != "none" %><%= request.weekly.thu_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.friday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["fri_workers"] == "1" %> changed<% end %>"><% if request.weekly.fri_workers != "none" %><%= request.weekly.fri_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.saturday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["sat_workers"] == "1" %> changed<% end %>"><% if request.weekly.sat_workers != "none" %><%= request.weekly.sat_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.sunday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %><% if request.pending["sun_workers"] == "1" %> changed<% end %>"><% if request.weekly.sun_workers != "none" %><%= request.weekly.sun_workers %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["single_tracking"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>"><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["shift"] == "1" %>changed<% end %>"><%= request.weekly.shift %></td>
      <td class="trigger_overlay <% if request.pending["taw"] == "1" %>changed<% end %>"><% if request.weekly.taw == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["form_b"] == "1" %>changed<% end %>"><% if request.weekly.form_b == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["form_c"] == "1" %>changed<% end %>"><% if request.weekly.form_c == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["track_and_time"] == "1" %>changed<% end %>"><% if request.weekly.track_and_time == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["sswps"] == "1" %>changed<% end %>"><%= request.sswps %></td>
      <td class="trigger_overlay <% if request.pending["change_notices"] == "1" %>changed<% end %>"><%= request.change_notices %></td>
      <td class="trigger_overlay <% if request.pending["rwp"] == "1" %>changed<% end %>"><% if request.rwp == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["ocs"] == "1" %>changed<% end %>"><% if request.ocs == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["disturb"] == "1" %>changed<% end %>"><% if request.disturb == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["rrm"] == "1" %>changed<% end %>"><% if request.rrm == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["foul"] == "1" %>changed<% end %>"><% if request.foul == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["crossings"] == "1" %>changed<% end %>"><% if request.crossings == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["underground"] == "1" %>changed<% end %>"><% if request.underground == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay <% if request.pending["flagging"] == "1" %>changed<% end %>"><% if request.flagging == "yes" %><%= "\u2713" %><% else %>-<% end %></td>
      <td class="trigger_overlay"><%= request.created_at.strftime("%m/%d/%Y") %></td>
      <td class="trigger_overlay"><%= request.updated_at.strftime("%m/%d/%Y") %></td>
      <td class="trigger_overlay"><%= request.requestor_name %></td>
    </tr>
    <% counter += 1 %>
  <% end %>
  </tbody>

  </table>
</div>
<!-- start of day to be copied -->

  <div id="monday_table" class="displaytable hidden">
      <table class="requests_table">
        <thead>
          <tr>
            <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
            <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
            <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
            <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
            <th colspan="7" class="topheader"><div>Location</th>
            <th rowspan="2"><div class="wlarge">Description of Work</th>
            <th><div>Support Allocation</th>
            <th rowspan="2" class="briefing_details">Briefing Details</th>
            <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
            <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
            <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
            <th colspan="5"><div>Protection</th>
            <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#monday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#monday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#monday_table">Inspector</div></div></div></th>
          </tr>
          <tr>
            <th>Mile Post</th>
            <th>Control Point</th>
            <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
            <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
            <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
            <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
            <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
            <th class="wsmall">Mon</th>
            <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
            <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
            <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
            <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
            <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %>
    <% @requests.each do |request| %>
       <% if request.mon == 1  || request.monday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
          <td class="reqstatus">
            <div class="index_status hidden">
              <div class="approvals_bar_container">
                <div class="approvals_bar_block <%= request.approval1 %>">
                  1
                </div>
                <div class="approvals_bar_block <%= request.approval2 %>">
                  2
                </div>
                <div class="approvals_bar_block <%= request.approval3 %>">
                  3
                </div>
                <div class="approvals_bar_block <%= request.approval4 %>">
                  4
                </div>
              </div>
            </div>
              <div class="status_wrapper">
                <div class="status_half">
                  <% case request.approval.group_1_mon %>
                  <% when "pending" %>
                    <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                  <% when "rejected" %>
                    <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                  <% when "approved" %>
                    <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                  <% end %>

                  <% case request.approval.group_2_mon %>
                  <% when "pending" %>
                    <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                  <% when "rejected" %>
                    <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                  <% when "approved" %>
                    <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                  <% end %>

                </div>
                <div class="status_half">
                  <% case request.approval.group_3_mon %>
                  <% when "pending" %>
                    <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                  <% when "rejected" %>
                    <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                  <% when "approved" %>
                    <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                  <% end %>

                  <% case request.approval.group_4_mon %>
                  <% when "pending" %>
                    <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                  <% when "rejected" %>
                    <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                  <% when "approved" %>
                    <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                  <% end %>
                </div>
              </div>
        </td>
        <td class="trigger_overlay"><%= counter %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["mp1"] == "1" || request.pending["monday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.monday_hash["mp1"]} - #{request.monday_hash["mp2"]}" %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["cp1"] == "1" || request.pending["monday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.monday_hash["cp1"].to_i)} - #{request.parse_cp(request.monday_hash["cp2"].to_i)}" %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["mon_workers"] == "1" %>changed<% end %>"><%= request.weekly.mon_workers %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["monday_values"]["b_time"] == "1" || request.pending["monday_values"]["b_location"] == "1"|| request.pending["monday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.monday_hash["b_time"]}\n#{request.monday_hash["b_location"]}\n#{request.monday_hash["b_name_number"]}" %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["start_time"] == "1" || request.pending["monday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.monday_values["taw"] == "1" %>changed<% end %>"><% if request.monday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.monday_values["form_b"] == "1" %>changed<% end %>"><% if request.monday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.monday_values["form_c"] == "1" %>changed<% end %>"><% if request.monday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.monday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.monday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["monday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
        <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="mon" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_mon %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_mon %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_mon %></div></td>
      </tr>
      <% counter += 1 %>
      <% end %>

  <% end %>
  </tbody>

  </table>
</div>

<!-- end of day to be copied -->

<div id="tuesday_table" class="displaytable hidden">
    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th><div>Support Allocation</th>
          <th rowspan="2" class="briefing_details">Briefing Details</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#tuesday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#tuesday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#tuesday_table">Inspector</div></div></div></th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">Tue</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
  <% @requests.each do |request| %>
    <% if request.tue == 1  || request.tuesday_hash["cancelled"] == "yes"%>

      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>

            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.group_1_tue %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_2_tue %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.group_3_tue %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_4_tue %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>
      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["mp1"] == "1" || request.pending["tuesday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.tuesday_hash["mp1"]} - #{request.tuesday_hash["mp2"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["cp1"] == "1" || request.pending["tuesday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.tuesday_hash["cp1"].to_i)} - #{request.parse_cp(request.tuesday_hash["cp2"].to_i)}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tue_workers"] == "1" %>changed<% end %>"><%= request.weekly.tue_workers %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["tuesday_values"]["b_time"] == "1" || request.pending["tuesday_values"]["b_location"] == "1"|| request.pending["tuesday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.tuesday_hash["b_time"]}\n#{request.tuesday_hash["b_location"]}\n#{request.tuesday_hash["b_name_number"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["start_time"] == "1" || request.pending["tuesday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.tuesday_values["taw"] == "1" %>changed<% end %>"><% if request.tuesday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.tuesday_values["form_b"] == "1" %>changed<% end %>"><% if request.tuesday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.tuesday_values["form_c"] == "1" %>changed<% end %>"><% if request.tuesday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.tuesday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.tuesday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["tuesday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="tue" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_tue %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_tue %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_tue %></div></td>
    </tr>
    <% counter += 1 %>
    <% end %>

<% end %>
</tbody>

</table>
</div>

<div id="wednesday_table" class="displaytable hidden">
    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th><div>Support Allocation</th>
          <th rowspan="2" class="briefing_details">Briefing Details</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#wednesday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#wednesday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#wednesday_table">Inspector</div></div></div></th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">wed</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
  <% @requests.each do |request| %>
  <% if request.wed == 1  || request.wednesday_hash["cancelled"] == "yes"%>

      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>

            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.group_1_wed %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_2_wed %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.group_3_wed %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_4_wed %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>
      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["mp1"] == "1" || request.pending["wednesday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.wednesday_hash["mp1"]} - #{request.wednesday_hash["mp2"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["cp1"] == "1" || request.pending["wednesday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.wednesday_hash["cp1"].to_i)} - #{request.parse_cp(request.wednesday_hash["cp2"].to_i)}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wed_workers"] == "1" %>changed<% end %>"><%= request.weekly.wed_workers %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["wednesday_values"]["b_time"] == "1" || request.pending["wednesday_values"]["b_location"] == "1"|| request.pending["wednesday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.wednesday_hash["b_time"]}\n#{request.wednesday_hash["b_location"]}\n#{request.wednesday_hash["b_name_number"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["start_time"] == "1" || request.pending["wednesday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.wednesday_values["taw"] == "1" %>changed<% end %>"><% if request.wednesday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.wednesday_values["form_b"] == "1" %>changed<% end %>"><% if request.wednesday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.wednesday_values["form_c"] == "1" %>changed<% end %>"><% if request.wednesday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.wednesday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.wednesday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["wednesday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="wed" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_wed %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_wed %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_wed %></div></td>
    </tr>
    <% counter += 1 %>
    <% end %>

<% end %>
</tbody>

</table>
</div>

<div id="thursday_table" class="displaytable hidden">
    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th><div>Support Allocation</th>
          <th rowspan="2" class="briefing_details">Briefing Details</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#thursday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#thursday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#thursday_table">Inspector</div></div></div></th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">thu</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
  <% @requests.each do |request| %>
  <% if request.thu == 1  || request.thursday_hash["cancelled"] == "yes"%>

      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>

            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.group_1_thu %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_2_thu %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.group_3_thu %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_4_thu %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>
      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["mp1"] == "1" || request.pending["thursday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.thursday_hash["mp1"]} - #{request.thursday_hash["mp2"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["cp1"] == "1" || request.pending["thursday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.thursday_hash["cp1"].to_i)} - #{request.parse_cp(request.thursday_hash["cp2"].to_i)}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thu_workers"] == "1" %>changed<% end %>"><%= request.weekly.thu_workers %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["thursday_values"]["b_time"] == "1" || request.pending["thursday_values"]["b_location"] == "1"|| request.pending["thursday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.thursday_hash["b_time"]}\n#{request.thursday_hash["b_location"]}\n#{request.thursday_hash["b_name_number"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["start_time"] == "1" || request.pending["thursday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.thursday_values["taw"] == "1" %>changed<% end %>"><% if request.thursday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.thursday_values["form_b"] == "1" %>changed<% end %>"><% if request.thursday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.thursday_values["form_c"] == "1" %>changed<% end %>"><% if request.thursday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.thursday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.thursday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["thursday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="thu" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_thu %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_thu %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_thu %></div></td>
    </tr>
    <% counter += 1 %>
    <% end %>

<% end %>
</tbody>

</table>
</div>

<div id="friday_table" class="displaytable hidden">
    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th><div>Support Allocation</th>
          <th rowspan="2" class="briefing_details">Briefing Details</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#friday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#friday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#friday_table">Inspector</div></div></div></th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">fri</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
  <% @requests.each do |request| %>
  <% if request.fri == 1  || request.friday_hash["cancelled"] == "yes"%>

      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>

            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.group_1_fri %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_2_fri %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.group_3_fri %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_4_fri %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>
      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["mp1"] == "1" || request.pending["friday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.friday_hash["mp1"]} - #{request.friday_hash["mp2"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["cp1"] == "1" || request.pending["friday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.friday_hash["cp1"].to_i)} - #{request.parse_cp(request.friday_hash["cp2"].to_i)}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["fri_workers"] == "1" %>changed<% end %>"><%= request.weekly.fri_workers %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["friday_values"]["b_time"] == "1" || request.pending["friday_values"]["b_location"] == "1"|| request.pending["friday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.friday_hash["b_time"]}\n#{request.friday_hash["b_location"]}\n#{request.friday_hash["b_name_number"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["start_time"] == "1" || request.pending["friday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.friday_values["taw"] == "1" %>changed<% end %>"><% if request.friday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.friday_values["form_b"] == "1" %>changed<% end %>"><% if request.friday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.friday_values["form_c"] == "1" %>changed<% end %>"><% if request.friday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.friday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.friday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["friday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="fri" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_fri %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_fri %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_fri %></div></td>
    </tr>
    <% counter += 1 %>
    <% end %>

<% end %>
</tbody>

</table>
</div>

<div id="saturday_table" class="displaytable hidden">
    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th><div>Support Allocation</th>
          <th rowspan="2" class="briefing_details">Briefing Details</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#saturday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#saturday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#saturday_table">Inspector</div></div></div></th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">sat</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
  <% @requests.each do |request| %>
  <% if request.sat == 1  || request.saturday_hash["cancelled"] == "yes"%>

      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>

            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.group_1_sat %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_2_sat %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.group_3_sat %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_4_sat %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>
      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["mp1"] == "1" || request.pending["saturday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.saturday_hash["mp1"]} - #{request.saturday_hash["mp2"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["cp1"] == "1" || request.pending["saturday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.saturday_hash["cp1"].to_i)} - #{request.parse_cp(request.saturday_hash["cp2"].to_i)}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sat_workers"] == "1" %>changed<% end %>"><%= request.weekly.sat_workers %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["saturday_values"]["b_time"] == "1" || request.pending["saturday_values"]["b_location"] == "1"|| request.pending["saturday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.saturday_hash["b_time"]}\n#{request.saturday_hash["b_location"]}\n#{request.saturday_hash["b_name_number"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["start_time"] == "1" || request.pending["saturday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.saturday_values["taw"] == "1" %>changed<% end %>"><% if request.saturday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.saturday_values["form_b"] == "1" %>changed<% end %>"><% if request.saturday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.saturday_values["form_c"] == "1" %>changed<% end %>"><% if request.saturday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.saturday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.saturday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["saturday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="sat" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_sat %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_sat %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_sat %></div></td>
    </tr>
    <% counter += 1 %>
    <% end %>

<% end %>
</tbody>

</table>
</div>

<div id="sunday_table" class="displaytable hidden">
    <table class="requests_table">
      <thead>
        <tr>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Approval Status</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Line #</div></th>
          <th rowspan="2" class="wmedium"><div>Project <br>WD #</div></th>
          <th rowspan="2"  class="wmedium"><div>Contractor</div></th>
          <th colspan="7" class="topheader"><div>Location</th>
          <th rowspan="2"><div class="wlarge">Description of Work</th>
          <th><div>Support Allocation</th>
          <th rowspan="2" class="briefing_details">Briefing Details</th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Single Tracking</div></th>
          <th rowspan="2" class="rotated trflex"><div class="tallheader">Night Work</div></th>
          <th rowspan="2" class="shift"><div>Shift (24 hr)</th>
          <th colspan="5"><div>Protection</th>
          <th rowspan="2" class="notes"><div class="notes_wrapper"><div class="notes_title">Notes</div><div class="notes_tab_container"><div class="notes_tab active" data-notetype=".requestor_notes" data-daytable="#sunday_table">Requestor</div><div class="notes_tab inactive" data-notetype=".admin_notes" data-daytable="#sunday_table">Admin</div><div class="notes_tab inactive" data-notetype=".inspector_notes" data-daytable="#sunday_table">Inspector</div></div></div></th>
        </tr>
        <tr>
          <th>Mile Post</th>
          <th>Control Point</th>
          <th class="rotated"><div class="smallheader wverysmall">MT1</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT2</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT3</div></th>
          <th class="rotated"><div class="smallheader wverysmall">MT4</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Other</div></th>
          <th class="wsmall">sun</th>
          <th class="rotated"><div class="smallheader wverysmall">TAW</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form B</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Form C</div></th>
          <th class="rotated"><div class="smallheader wverysmall">T&T</div></th>
          <th class="rotated"><div class="smallheader wverysmall">Inacc Trk</div></th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
  <% @requests.each do |request| %>
  <% if request.sun == 1  || request.sunday_hash["cancelled"] == "yes"%>
      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>" data-reqnum="<%= request.id %>">
        <td class="reqstatus">
          <div class="index_status hidden">
            <div class="approvals_bar_container">
              <div class="approvals_bar_block <%= request.approval1 %>">
                1
              </div>
              <div class="approvals_bar_block <%= request.approval2 %>">
                2
              </div>
              <div class="approvals_bar_block <%= request.approval3 %>">
                3
              </div>
              <div class="approvals_bar_block <%= request.approval4 %>">
                4
              </div>
            </div>
          </div>

            <div class="status_wrapper">
              <div class="status_half">
                <% case request.approval.group_1_sun %>
                <% when "pending" %>
                  <%= image_tag "tl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_2_sun %>
                <% when "pending" %>
                  <%= image_tag "tr_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "tr_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "tr_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

              </div>
              <div class="status_half">
                <% case request.approval.group_3_sun %>
                <% when "pending" %>
                  <%= image_tag "bl_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "bl_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "bl_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>

                <% case request.approval.group_4_sun %>
                <% when "pending" %>
                  <%= image_tag "br_yellow.png", class: "status_icon", alt: "Pending" %>
                <% when "rejected" %>
                  <%= image_tag "br_red.png", class: "status_icon", alt: "Pending" %>
                <% when "approved" %>
                  <%= image_tag "br_green.png", class: "status_icon", alt: "Pending" %>
                <% end %>
              </div>
            </div>
      </td>
      <td class="trigger_overlay"><%= counter %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <%= request.color %>"><%= request.requestor_project %><br><%= request.requestor_work_directive %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["contractor"] == "1" %>changed<% end %>"><%= request.contractor %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["mp1"] == "1" || request.pending["sunday_values"]["mp2"] == "1"  %>changed<% end %>"><%= "#{request.sunday_hash["mp1"]} - #{request.sunday_hash["mp2"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["cp1"] == "1" || request.pending["sunday_values"]["cp2"] == "1" %>changed<% end %>"><%= "#{request.parse_cp(request.sunday_hash["cp1"].to_i)} - #{request.parse_cp(request.sunday_hash["cp2"].to_i)}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["MT1"] == "1" %>changed<% end %>"><% if request.weekly.mt1 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["MT2"] == "1" %>changed<% end %>"><% if request.weekly.mt2 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["MT3"] == "1" %>changed<% end %>"><% if request.weekly.mt3 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["MT4"] == "1" %>changed<% end %>"><% if request.weekly.mt4 == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["other"] == "1" %>changed<% end %>"><% if request.weekly.other == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["description"] == "1" %>changed<% end %>"><%= request.description %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sun_workers"] == "1" %>changed<% end %>"><%= request.weekly.sun_workers %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay preserve-lines <% if request.pending["sunday_values"]["b_time"] == "1" || request.pending["sunday_values"]["b_location"] == "1"|| request.pending["sunday_values"]["b_name_number"] == "1" %>changed<% end %>"><%= "#{request.sunday_hash["b_time"]}\n#{request.sunday_hash["b_location"]}\n#{request.sunday_hash["b_name_number"]}" %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["single_track"] == "1" %>changed<% end %>"><% if request.weekly.single_tracking == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["night_work"] == "1" %>changed<% end %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><% if request.night_work == 1 %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["start_time"] == "1" || request.pending["sunday_values"]["end_time"] == "1"  %>changed<% end %>"><%= request.weekly.shift %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.sunday_values["taw"] == "1" %>changed<% end %>"><% if request.sunday_hash["taw"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.sunday_values["form_b"] == "1" %>changed<% end %>"><% if request.sunday_hash["form_b"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.sunday_values["form_c"] == "1" %>changed<% end %>"><% if request.sunday_hash["form_c"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending.sunday_values["track_and_time"] == "1" %>changed<% end %>"><% if request.sunday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" class="trigger_overlay <% if request.pending["sunday_values"]["inacc_track"] == "1" %>changed<% end %>"><% if request.weekly.inacc_track == true %><%= "\u2713" %><% else %>-<% end %></td>
      <td data-href="<%= request_path(request) %>" data-reqnum="<%= request.id %>" data-day="sun" data-address="<%= api_v1_request_path(request) %>" class="notes_cell"><div class="notes_content requestor_notes"><%= request.requestor_notes_sun %></div><div class="notes_content admin_notes hidden"><%= request.admin_notes_sun %></div><div class="notes_content inspector_notes hidden"><%= request.inspector_notes_sun %></div></td>
    </tr>
    <% counter += 1 %>
    <% end %>

<% end %>
</tbody>

</table>
</div>
</div>
