<%=
  link_to 'Download as Excel',
  requests_path(format: :xlsx)
%>

<table class='requests_table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Project</th>
      <th>Job Title</th>
      <th>Contractor</th>
      <th>Description</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Night Work</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>TAW</th>
      <th>Form B</th>
      <th>Form C</th>
      <th>Track & Time</th>
      <th>Submitted</th>
      <th>Last Edit</th>
    </tr>
</thead>
<tbody>

<% @requests.each do |request| %>
    <tr class="hover_row"  data-href="<%= request_path(request) %>">
    <td><a href="<%= request_path(request) %>">
      <% if request.status == 'pending'%>
        <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
      <% elsif request.status == 'approved'%>
        <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
      <% elsif request.status == 'rejected'%>
        <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
      <% end %>
    </a>
    </td>
    <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.title %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.description %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.mon_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.tue_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.wed_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.thu_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.fri_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.sat_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.sun_workers %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><% if request.night_work == 1 %><%= "\u2713" %><% else %><% end %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.start %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.weekly.end %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><% if request.weekly.taw == true %><%= "\u2713" %><% else %><% end %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><% if request.weekly.form_b == true %><%= "\u2713" %><% else %><% end %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><% if request.weekly.form_c == true %><%= "\u2713" %><% else %><% end %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><% if request.weekly.track_and_time == true %><%= "\u2713" %><% else %><% end %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
  </tr>
<% end %>
</tbody>

</table>
