<table class='requests_table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Job Title</th>
      <th>Contractor</th>
      <th>Description</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Night Work</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>TAW</th>
      <th>Form B</th>
      <th>Form C</th>
      <th>Track & Time</th>
      <th>Submitted</th>
      <th>Last Edit</th>
    </tr>
</thead>
<tbody>

<% @requests.each do |request| %>
  <tr>
    <td>
    <% if @user.role == 'admin' %>
      <% if request.status == 'pending'%>
        <a href="<%= request_path(request) %>"><%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %></a>
      <% elsif request.status == 'approved'%>
        <a href="<%= request_path(request) %>"><%= image_tag "green.png", class: 'status_icon', alt: "Approved" %></a>
      <% elsif request.status == 'rejected'%>
        <a href="<%= request_path(request) %>"><%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %></a>
      <% end %>
    <% else %>
      <% if request.status == 'pending'%>
        <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
      <% elsif request.status == 'approved'%>
        <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
      <% elsif request.status == 'rejected'%>
        <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
      <% end %>
    <% end %>
    </td>
    <td><%= request.title %></td>
    <td><%= request.contractor %></td>
    <td><%= request.description %></td>
    <td><%= request.monday %></td>
    <td><%= request.tuesday %></td>
    <td><%= request.wednesday %></td>
    <td><%= request.thursday %></td>
    <td><%= request.friday %></td>
    <td><%= request.saturday %></td>
    <td><%= request.sunday %></td>
    <td><%= request.night_work %></td>
    <td><%= request.start_time %></td>
    <td><%= request.end_time %></td>
    <td><%= request.taw %></td>
    <td><%= request.form_b %></td>
    <td><%= request.form_c %></td>
    <td><%= request.track_and_time %></td>
    <td><%= request.created_at %></td>
    <td><%= request.updated_at %></td>
  </tr>

<% end %>
</tbody>

</table>
