<%=
  link_to 'Download as Excel',
  requests_path(format: :xlsx)
%>

<table class='requests_table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Project</th>
      <th>Job Title</th>
      <th>Contractor</th>
      <th>Description</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Night Work</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>TAW</th>
      <th>Form B</th>
      <th>Form C</th>
      <th>Track & Time</th>
      <th>Submitted</th>
      <th>Last Edit</th>
    </tr>
</thead>
<tbody>

<% @requests.each do |request| %>
    <tr class="hover_row"  data-href="<%= request_path(request) %>">
    <td><a href="<%= request_path(request) %>">
      <% if request.status == 'pending'%>
        <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
      <% elsif request.status == 'approved'%>
        <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
      <% elsif request.status == 'rejected'%>
        <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
      <% end %>
    </a>
    </td>
    <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.title %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.description %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.monday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.tuesday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.wednesday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.thursday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.friday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.saturday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.sunday %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.night_work %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.start_time.strftime("%k:%M") %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.end_time.strftime("%k:%M") %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.taw %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.form_b %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.form_c %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.track_and_time %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
    <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
  </tr>
<% end %>
</tbody>

</table>
