<% if @user != nil %>
  <% if @user.role == 'admin' %>
    <div class="control_panel">
      <a href="<%= profiles_path %>">Users</a>
      <br>
      <a href='<%= requests_path %>'>Requests</a>
    </div>
  <% elsif @user.role == 'inspector' %>
  <% else %>
    <div class="control_panel">
      <a href="<%= new_request_path %>">New Request Form</a>
    </div>
  <% end %>
<% end %>


<h4>Showing requests for <%= @thisyear %>, week <%= @thisweek %></h4>

<%= form_tag(requests_path, method: "get") do %>
  <%= label_tag(:year, "Year:") %>
  <%= number_field_tag(:year, @thisyear) %>
  <%= label_tag(:week, "Week:") %>
  <%= number_field_tag(:week, @thisweek) %>

  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(requests_path, method: "get") do %>
    <%= hidden_field_tag("week", value = params["week"]) %>
    <%= hidden_field_tag("year", value = params["year"]) %>
    <% if params["hide"] == "yes" %>
      <%= submit_tag("Show Cancelled Requests") %>
    <% else %>
      <%= hidden_field_tag("hide", value = "yes") %>
      <%= submit_tag("Hide Cancelled Requests") %>
    <% end %>
<% end %>
<%=
  link_to 'Download as Excel',
  requests_path(format: :xlsx)
%>
<br>
<br>

<div class="daytab active" data-displaytab="week">
Week
</div>
<div class="daytab inactive" data-displaytab="mon">
Mon
</div>
<div class="daytab inactive" data-displaytab="tue">
Tue
</div>
<div class="daytab inactive" data-displaytab="wed">
Wed
</div>
<div class="daytab inactive" data-displaytab="thu">
Thu
</div>
<div class="daytab inactive" data-displaytab="fri">
Fri
</div>
<div class="daytab inactive" data-displaytab="sat">
Sat
</div>
<div class="daytab inactive" data-displaytab="sun">
Sun
</div>



<div id="weekly_table" class="displaytable">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
        <th>Night Work</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
      <tr class="hover_row <% if request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
      <td><a href="<%= request_path(request) %>">
        <% if request.status == 'pending'%>
          <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
        <% elsif request.status == 'approved'%>
          <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
        <% elsif request.status == 'rejected'%>
          <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
        <% end %>
      </a>
      </td>
      <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["mon_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.mon_workers != "none" %><%= request.weekly.mon_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["tue_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.tue_workers != "none" %><%= request.weekly.tue_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["wed_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.wed_workers != "none" %><%= request.weekly.wed_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["thu_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.thu_workers != "none" %><%= request.weekly.thu_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["fri_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.fri_workers != "none" %><%= request.weekly.fri_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["sat_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.sat_workers != "none" %><%= request.weekly.sat_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["sun_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.sun_workers != "none" %><%= request.weekly.sun_workers %><% else %>-<% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["night_work"] == "1" %>class="changed"<% end %> <% if request.pending["night_work"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.night_work == 1 %><%= "\u2713" %><% else %><% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["start"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.start %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["end"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.taw == true %><%= "\u2713" %><% else %><% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.form_b == true %><%= "\u2713" %><% else %><% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.form_c == true %><%= "\u2713" %><% else %><% end %></a></td>
      <td data-href="<%= request_path(request) %>" <% if request.pending["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.weekly.track_and_time == true %><%= "\u2713" %><% else %><% end %></a></td>
      <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
      <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
    </tr>
  <% end %>
  </tbody>

  </table>
</div>

<div id="monday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.mon == 1 || request.monday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.monday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["mon_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.mon_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.monday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.monday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>"<% if request.pending.monday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.monday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.monday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.monday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.monday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.monday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.monday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.monday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.monday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.monday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>

<div id="tuesday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.tue == 1  || request.tuesday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.tuesday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["tue_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.tue_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.tuesday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.tuesday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.tuesday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.tuesday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.tuesday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.tuesday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.tuesday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.tuesday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.tuesday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.tuesday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.tuesday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.tuesday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>

<div id="wednesday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.wed == 1  || request.wednesday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.wednesday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["wed_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.wed_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.wednesday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.wednesday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.wednesday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.wednesday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.wednesday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.wednesday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.wednesday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.wednesday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.wednesday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.wednesday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.wednesday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.wednesday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>

<div id="thursday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.thu == 1  || request.thursday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.thursday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["thu_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.thu_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.thursday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.thursday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.thursday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.thursday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.thursday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.thursday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.thursday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.thursday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.thursday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.thursday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.thursday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.thursday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>

<div id="friday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.fri == 1  || request.friday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.friday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["fri_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.fri_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.friday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.friday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.friday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.friday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.friday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.friday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.friday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.friday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.friday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.friday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.friday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.friday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>

<div id="saturday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.sat == 1  || request.saturday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.saturday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["sat_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.sat_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.saturday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.saturday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.saturday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.saturday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.saturday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.saturday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.saturday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.saturday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.saturday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.saturday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.saturday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.saturday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>

<div id="sunday_table" class="displaytable hidden">
  <table class='requests_table'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Project</th>
        <th>Job Title</th>
        <th>Contractor</th>
        <th>Description</th>
        <th>Workers</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>TAW</th>
        <th>Form B</th>
        <th>Form C</th>
        <th>Track & Time</th>
        <th>Submitted</th>
        <th>Last Edit</th>
      </tr>
  </thead>
  <tbody>

  <% @requests.each do |request| %>
    <% if request.sun == 1  || request.sunday_hash["cancelled"] == "yes"%>
        <tr class="hover_row <% if request.sunday_hash["cancelled"] == "yes" || request.cancelled == 1 %>cancelled_day<% end %>"  data-href="<%= request_path(request) %>">
        <td><a href="<%= request_path(request) %>">
          <% if request.status == 'pending'%>
            <%= image_tag "yellow.png", class: 'status_icon', alt: "Pending" %>
          <% elsif request.status == 'approved'%>
            <%= image_tag "green.png", class: 'status_icon', alt: "Approved" %>
          <% elsif request.status == 'rejected'%>
            <%= image_tag "red.png", class: 'status_icon', alt: "Rejected" %>
          <% end %>
        </a>
        </td>
        <td data-href="<%= request_path(request) %>" class="<%= request.color %>"><a href="<%= request_path(request) %>" class="<%= request.color %>"><%= request.requestor_project %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["title"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.title %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["contractor"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.contractor %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["description"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.description %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending["sun_workers"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.weekly.sun_workers %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.sunday_values["start_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.sunday_hash["start_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.sunday_values["end_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><%= request.sunday_hash["end_time"] %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.sunday_values["taw"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.sunday_hash["taw"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.sunday_values["form_b"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.sunday_hash["form_b"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.sunday_values["form_c"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.sunday_hash["form_c"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>" <% if request.pending.sunday_values["track_and_time"] == "1" %>class="changed"<% end %>><a href="<%= request_path(request) %>"><% if request.sunday_hash["track_and_time"] == "1" %><%= "\u2713" %><% else %><% end %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.created_at.strftime("%m/%d/%Y") %></a></td>
        <td data-href="<%= request_path(request) %>"><a href="<%= request_path(request) %>"><%= request.updated_at.strftime("%m/%d/%Y") %></a></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

  </table>
</div>
