<%= form_for @request do |f| %>
<br>
<br>
<input type="hidden" name="user_default_color" id="user_default_color" data-current="<%= @user.default_color %>" value="">
<div class="form_nav">
  <%= link_to 'Reset Form', new_request_path, class: "form_nav_link", data: {confirm: "All unsaved changes will be lost. Proceed?"} %>
</div>
<br>
<% if @copied_from != nil %>
<div class="form_action_header"><h2>Copying From Request "<%= @copied_from.title %>"</h2></div>
<div id="copied_request" class="hidden">true</div>
<%= hidden_field_tag("copied", value = true) %>
<% end %>
<br>

<%= render "layouts/request_form", f: f %>
<% end %>
