<h1><%= @request.title %></h1>
<ul>
  <li>Contractor: <%= @request.contractor %></li>
  <li>Description: <%= @request.description %></li>
  <li>Mon: <%= @request.monday %></li>
  <li>Tues: <%= @request.tuesday %></li>
  <li>Wed: <%= @request.wednesday %></li>
  <li>Thurs: <%= @request.thursday %></li>
  <li>Fri: <%= @request.friday %></li>
  <li>Sat: <%= @request.saturday %></li>
  <li>Sun: <%= @request.sunday %></li>
  <li>Night Work?: <%= @request.night_work %></li>
  <li>Start Time: <%= @request.start_time %></li>
  <li>End Time: <%= @request.end_time %></li>
  <li>TAW: <%= @request.taw %></li>
  <li>Form B: <%= @request.form_b %></li>
  <li>form C: <%= @request.form_c %></li>
  <li>Track and Time: <%= @request.track_and_time %></li>
  <li>Created: <%= @request.created_at %></li>
  <li>Last Updated: <%= @request.updated_at %></li>
</ul>

<h3>Current Status: <%= @request.status.upcase %>
<%= button_to 'Approve', request_approve_path(@request), method: :put, data: { confirm: 'This request will be approved. Proceed?' } %>

<h1>Change Log</h1>

<%# will need to create log_enty table, linked to one user and one requests_table
will have:
user
request
time created
changes (nested arrays of length 2, first entry being the old values and second being the new values)

 %>
