<%= link_to 'Back to Requests', requests_path %>

<h1 class="<%= @request.color %>"><%= @request.title %></h1>
<ul>
  <li>Contractor: <%= @request.contractor %></li>
  <li>Description: <%= @request.description %></li>
  <li>Mon: <%= @request.mon %></li>
  <li>Tues: <%= @request.tue %></li>
  <li>Wed: <%= @request.wed %></li>
  <li>Thurs: <%= @request.thu %></li>
  <li>Fri: <%= @request.fri %></li>
  <li>Sat: <%= @request.sat %></li>
  <li>Sun: <%= @request.sun %></li>
  <li>Night Work?: <%= @request.night_work %></li>
  <li>Start Time: <%= @request.weekly.start %></li>
  <li>End Time: <%= @request.weekly.end %></li>
  <li>TAW: <%= @request.weekly.taw %></li>
  <li>Form B: <%= @request.weekly.form_b %></li>
  <li>form C: <%= @request.weekly.form_c %></li>
  <li>Track and Time: <%= @request.weekly.track_and_time %></li>
  <li>Created: <%= @request.created_at %></li>
  <li>Last Updated: <%= @request.updated_at %></li>
</ul>
<br>

<% @request.attachments.each do |attachment| %>
<div class="level">
  <%= link_to attachment.filename, rails_blob_path(attachment, only_path: true) %>
</div>
<% end %>

<h3>Current Status: <%= @request.status.upcase %>
  <br>
<div class="approvals_bar_container">
  <div class="approvals_bar_block <%= @request.approval1 %>">
    1
  </div>
  <div class="approvals_bar_block <%= @request.approval2 %>">
    2
  </div>
  <div class="approvals_bar_block <%= @request.approval3 %>">
    3
  </div>
  <div class="approvals_bar_block <%= @request.approval4 %>">
    4
  </div>
</div>

  <br>
  <%= link_to 'Edit', edit_request_path(@request) %>
  <br>
  <%= link_to 'Copy Request', new_request_path(:copyfrom => @request.id) %>
  <br>
  <% if @request.cancelled == 0 %>
    <%= button_to 'Cancel Request', request_cancel_path(@request), method: :put, data: { confirm: 'This request will be cancelled. Proceed?' } %>
  <% else %>
    <%= button_to 'Re-activate Request', request_cancel_path(@request), method: :put, data: { confirm: 'This request will be re-activated. Proceed?' } %>
  <% end %>
  <% if @user.role == "admin" || @user.role == "superadmin" %>
    <% if @request.cancelled == 0 %>
      <%= button_to 'Approve', request_approve_path(@request), method: :put, data: { confirm: 'This request will be approved. Proceed?' }, params: {new_status: 'approved'} %>
      <%= button_to 'Reject', request_approve_path(@request), method: :put, data: { confirm: 'This request will be rejected. Proceed?' }, params: {new_status: 'rejected'} %>
    <% end %>
  <h1>Notes</h1>
  <div class="notes_container">
    <% if @notes %>
      <% @notes.each do |note| %>
      <div><%= note.user.name %> @ <%= note.created_at.strftime("%d %b %y") %>: <%= note.body %> </div>
      <% end %>
    <% end %>
  </div>
  <form method="get" action="/requests/new/note">
    <input type="hidden" name="note[request_id]" value=<%= @request.id %>>
    <input type="text" name="note[body]">
    <input type="submit" value="Log Note">
  </form>

  <h1>Change Log</h1>

  <% @entries.each do |entry| %>
  <li>
    <div class="log_block_container">
      <div class="log_header">
        User: <%= User.where(id: entry.user_id)[0].name %> at <%= entry.created_at %>
      </div>
      <div class="log_block <% if entry[:new_values]["status"] %><%= entry[:new_values]["status"] %><% end %>">
        <div class="old_value_block">
          Previous Values:
          <ul>
          <% entry[:old_values].each do |key, value| %>
          <li>
          <%= key %> => <%= value %>
          </li>
          <% end %>
          <ul>
        </div>
        <div class="new_value_block">
          New Values:
          <ul>
          <% entry[:new_values].each do |key, value| %>
          <li>
          <%= key %> => <%= value %>
          </li>
          <% end %>
          <ul>
        </div>
        <div class="comments_block">
          Comments:
          <ul>
            <li><%= entry[:comments] %><li>
          <ul>
        </div>
    </div>
  </div>
  </li>

  <% end %>
<% end %>
