<div class="form_block_container">
  <h3>Right To Work Request Form</h3>
  <div class="form_block">
    <p>Statement about before filling out this form, gotta do some other things, blah blah blah…</p>
    <button type="button" name="reset_form">Reset Form</button>
  </div>
  <div class="form_header">Requester Information</div>
  <div class="form_block">
    <p>Submitting request for <%= @user.company %></p>
    <input type="hidden" name="request[contractor]" value="<%= @user.company%>">
    <label>Name:</label>
    <input name="request[requestor_name]" type="text" value="<%= @user.name %>">
    <label>Email:</label>
    <input name="request[requestor_email]" type="email" value="<%= @user.email %>">
    <label>Phone #:</label>
    <input name="request[requestor_phone]" type="tel" value="<%= @user.phone %>">
    <label>Project:</label>
    <input name="request[requestor_project]" type="text">
    <label>Work Directive:</label>
    <input name="request[requestor_work_directive]" type="text">
  </div>
  <div class="form_header">Work Schedule</div>
  <div class="form_block">
    <label>Year</label>
    <input type="number" name="request[year]" min="2019"><br>
    <br>
    <label>Week</label>
    <input type="number" name="request[week]" min="1" max="52"><br>
    <br>

    <label>Days</label><br>
    Mon<input type="checkbox" name="request[monday]" value="monday"><br>
    Tues<input type="checkbox" name="request[tuesday]" value="tuesday"><br>
    Wed<input type="checkbox" name="request[wednesday]" value="wednesday"><br>
    Thurs<input type="checkbox" name="request[thursday]" value="thursday"><br>
    Fri<input type="checkbox" name="request[friday]" value="friday"><br>
    Sat<input type="checkbox" name="request[saturday]" value="saturday"><br>
    Sun<input type="checkbox" name="request[sunday]" value="sunday"><br>
    <br>

    <label>Start Time</label>
    <input type="time" name="request[start_time]">
    <br>
    <label>End Time</label>
    <input type="time" name="request[end_time]">
    <br>
    <label>Night Work?</label>
    <input type="checkbox" name="request[night_work]" value="1"><br>
    <br>
  </div>
  <div class="form_header">Work Location</div>
  <div class="form_block">
    <label>CP 1</label><br>
    <select name="request[cp1]">'
      <%= options_for_select([
      ['N.L. CP 4th', 1],
      ['S.L. CP 4th', 2],
      ['N.L. CP Common', 3],
      ['S.L. CP Common', 4],
      ['N.L. CP Army', 5],
      ['S.L. CP Army', 6],
      ['N.L. CP Tunnel', 7],
      ['S.L. CP Tunnel', 8],
      ['N.L. CP Geneva', 9],
      ['S.L. CP Geneva', 10],
      ['N.L. CP Brisbane', 11],
      ['S.L. CP Brisbane', 12],
      ['N.L. CP Sierra', 13],
      ['S.L. CP Sierra', 14],
      ['N.L. CP Scott', 15],
      ['S.L. CP Scott', 16],
      ['N.L. CP Center', 17],
      ['S.L. CP Center', 18],
      ['N.L. CP Bart', 19],
      ['S.L. CP Bart', 20],
      ['N.L. CP Trousdale', 21],
      ['S.L. CP Trousdale', 22],
      ['N.L. CP Palm', 23],
      ['S.L. CP Palm', 24],
      ['N.L. CP Ralston', 25],
      ['S.L. CP Ralston', 26],
      ['N.L. CP Dumbarton', 27],
      ['S.L. CP Dumbarton', 28],
      ['N.L. CP Junction', 29],
      ['S.L. CP Junction', 30],
      ['N.L. CP Alma', 31],
      ['S.L. CP Alma', 32],
      ['N.L. CP Mayfield', 33],
      ['S.L. CP Mayfield', 34],
      ['N.L. CP Mary', 35],
      ['S.L. CP Mary', 36],
      ['N.L. CP Hendy', 37],
      ['S.L. CP Hendy', 38],
      ['N.L. CP Bowers', 39],
      ['S.L. CP Bowers', 40],
      ['N.L. CP De La Cruz', 41],
      ['S.L. CP De La Cruz', 42],
      ['N.L. CP Coast', 43],
      ['S.L. CP Coast', 44],
      ['N.L. CP Franklin', 45],
      ['S.L. CP Franklin', 46],
      ['N.L. CP Stockton', 47],
      ['S.L. CP Stockton', 48],
      ['N.L. CP Shark', 49],
      ['S.L. CP Shark', 50],
      ['N.L. CP Alameda', 51],
      ['S.L. CP Alameda', 52],
      ['N.L. CP Bird', 53],
      ['S.L. CP Bird', 54],
      ['N.L. CP Delmas', 55],
      ['S.L. CP Delmas', 56],
      ['N.L. CP Mack', 57],
      ['S.L. CP Mack', 58],
      ['N.L. CP Michael', 59],
      ['S.L. CP Michael', 60],
      ['N.L. CP Lick', 61],
      ['S.L. CP Lick', 62]
      ]) %>
    </select>
    <label>MP 1</label><br>
    <input type="number" name="request[mp1]" min="1"><br>
    <br>

    <label>CP 2</label><br>
    <select name="request[cp2]">
      <%= options_for_select([
      ['N.L. CP 4th', 1],
      ['S.L. CP 4th', 2],
      ['N.L. CP Common', 3],
      ['S.L. CP Common', 4],
      ['N.L. CP Army', 5],
      ['S.L. CP Army', 6],
      ['N.L. CP Tunnel', 7],
      ['S.L. CP Tunnel', 8],
      ['N.L. CP Geneva', 9],
      ['S.L. CP Geneva', 10],
      ['N.L. CP Brisbane', 11],
      ['S.L. CP Brisbane', 12],
      ['N.L. CP Sierra', 13],
      ['S.L. CP Sierra', 14],
      ['N.L. CP Scott', 15],
      ['S.L. CP Scott', 16],
      ['N.L. CP Center', 17],
      ['S.L. CP Center', 18],
      ['N.L. CP Bart', 19],
      ['S.L. CP Bart', 20],
      ['N.L. CP Trousdale', 21],
      ['S.L. CP Trousdale', 22],
      ['N.L. CP Palm', 23],
      ['S.L. CP Palm', 24],
      ['N.L. CP Ralston', 25],
      ['S.L. CP Ralston', 26],
      ['N.L. CP Dumbarton', 27],
      ['S.L. CP Dumbarton', 28],
      ['N.L. CP Junction', 29],
      ['S.L. CP Junction', 30],
      ['N.L. CP Alma', 31],
      ['S.L. CP Alma', 32],
      ['N.L. CP Mayfield', 33],
      ['S.L. CP Mayfield', 34],
      ['N.L. CP Mary', 35],
      ['S.L. CP Mary', 36],
      ['N.L. CP Hendy', 37],
      ['S.L. CP Hendy', 38],
      ['N.L. CP Bowers', 39],
      ['S.L. CP Bowers', 40],
      ['N.L. CP De La Cruz', 41],
      ['S.L. CP De La Cruz', 42],
      ['N.L. CP Coast', 43],
      ['S.L. CP Coast', 44],
      ['N.L. CP Franklin', 45],
      ['S.L. CP Franklin', 46],
      ['N.L. CP Stockton', 47],
      ['S.L. CP Stockton', 48],
      ['N.L. CP Shark', 49],
      ['S.L. CP Shark', 50],
      ['N.L. CP Alameda', 51],
      ['S.L. CP Alameda', 52],
      ['N.L. CP Bird', 53],
      ['S.L. CP Bird', 54],
      ['N.L. CP Delmas', 55],
      ['S.L. CP Delmas', 56],
      ['N.L. CP Mack', 57],
      ['S.L. CP Mack', 58],
      ['N.L. CP Michael', 59],
      ['S.L. CP Michael', 60],
      ['N.L. CP Lick', 61],
      ['S.L. CP Lick', 62]
      ]) %>
    </select>
    <label>MP 2</label><br>
    <input type="number" name="request[mp2]" min="1"><br>
    <br>
  </div>
  <div class="form_header">On Track Safety Method (OTS)</div>
  <div class="form_block">
    <label>Worker Allocation Primary</label><br>
    <select name="request[worker_primary]">
      <%= options_for_select([
      ['', 1],
      ['Ambassador', 2],
      ['Blue Flag', 3],
      ['Signal Tech', 4],
      ['Signal Inspector', 5],
      ['Maintainer', 6],
      ['No Protection Required', 7],
      ['Pilot', 8],
      ['Test Train', 9],
      ['Radio Tech', 10],
      ['Work Train', 11],
      ['UP Flagman', 12],
      ['Watchman', 13],
      ['Flagger (RWIC)', 14],
      ['Track Inspector', 15],
      ['Stabilizer', 16],
      ['Shared Flagger', 17],
      ['Shared Watchman', 18],
      ['Shared Maintainer', 19]
      ]) %>
    </select>
    <br>
    <label>Secondary</label><br>
    <select name="request[worker_secondary1]">
      <%= options_for_select([
      ['', 1],
      ['Ambassador', 2],
      ['Blue Flag', 3],
      ['Signal Tech', 4],
      ['Signal Inspector', 5],
      ['Maintainer', 6],
      ['Pilot', 8],
      ['Test Train', 9],
      ['Radio Tech', 10],
      ['Work Train', 11],
      ['UP Flagman', 12],
      ['Watchman', 13],
      ['Flagger (RWIC)', 14],
      ['Track Inspector', 15],
      ['Stabilizer', 16],
      ['Shared Flagger', 17],
      ['Shared Watchman', 18],
      ['Shared Maintainer', 19]
      ]) %>
    </select>
    <br>
    <label>Secondary</label><br>
    <select name="request[worker_secondary2]">
      <%= options_for_select([
      ['', 1],
      ['Ambassador', 2],
      ['Blue Flag', 3],
      ['Signal Tech', 4],
      ['Signal Inspector', 5],
      ['Maintainer', 6],
      ['Pilot', 8],
      ['Test Train', 9],
      ['Radio Tech', 10],
      ['Work Train', 11],
      ['UP Flagman', 12],
      ['Watchman', 13],
      ['Flagger (RWIC)', 14],
      ['Track Inspector', 15],
      ['Stabilizer', 16],
      ['Shared Flagger', 17],
      ['Shared Watchman', 18],
      ['Shared Maintainer', 19]
      ]) %>
    </select>
    <br>
    <label>Secondary</label><br>
    <select name="request[worker_secondary3]">
      <%= options_for_select([
      ['', 1],
      ['Ambassador', 2],
      ['Blue Flag', 3],
      ['Signal Tech', 4],
      ['Signal Inspector', 5],
      ['Maintainer', 6],
      ['Pilot', 8],
      ['Test Train', 9],
      ['Radio Tech', 10],
      ['Work Train', 11],
      ['UP Flagman', 12],
      ['Watchman', 13],
      ['Flagger (RWIC)', 14],
      ['Track Inspector', 15],
      ['Stabilizer', 16],
      ['Shared Flagger', 17],
      ['Shared Watchman', 18],
      ['Shared Maintainer', 19]
      ]) %>
    </select>
    <br>
    <label>Secondary</label><br>
    <select name="request[worker_secondary4]">
      <%= options_for_select([
      ['', 1],
      ['Ambassador', 2],
      ['Blue Flag', 3],
      ['Signal Tech', 4],
      ['Signal Inspector', 5],
      ['Maintainer', 6],
      ['Pilot', 8],
      ['Test Train', 9],
      ['Radio Tech', 10],
      ['Work Train', 11],
      ['UP Flagman', 12],
      ['Watchman', 13],
      ['Flagger (RWIC)', 14],
      ['Track Inspector', 15],
      ['Stabilizer', 16],
      ['Shared Flagger', 17],
      ['Shared Watchman', 18],
      ['Shared Maintainer', 19]
      ]) %>
    </select>
    <br>
    <label>Secondary</label><br>
    <select name="request[worker_secondary5]">
      <%= options_for_select([
      ['', 1],
      ['Ambassador', 2],
      ['Blue Flag', 3],
      ['Signal Tech', 4],
      ['Signal Inspector', 5],
      ['Maintainer', 6],
      ['Pilot', 8],
      ['Test Train', 9],
      ['Radio Tech', 10],
      ['Work Train', 11],
      ['UP Flagman', 12],
      ['Watchman', 13],
      ['Flagger (RWIC)', 14],
      ['Track Inspector', 15],
      ['Stabilizer', 16],
      ['Shared Flagger', 17],
      ['Shared Watchman', 18],
      ['Shared Maintainer', 19]
      ]) %>
    </select>
    <br>

    <br>
    <label>Single track?</label><br>
    <input type="radio" name="request[single_track]" value="single"> Yes <br>
    <input type="radio" name="request[single_track]" value="multi"> No <br>
    <br>

    <label>Track</label><br>
    MT 1<input type="checkbox" name="request[MT1]" value="MT1"><br>
    MT 2<input type="checkbox" name="request[MT2]" value="MT2"><br>
    MT 3<input type="checkbox" name="request[MT3]" value="MT3"><br>
    MT 4<input type="checkbox" name="request[MT4]" value="MT4"><br>
    <br>

    <label>Protection</label><br>
    TAW<input type="checkbox" name="request[taw]" value="taw"><br>
    Form B<input type="checkbox" name="request[form_b]" value="form_b"><br>
    Form C<input type="checkbox" name="request[form_c]" value="form_c"><br>
    Track & Time<input type="checkbox" name="request[track_and_time]" value="track_and_time"><br>
    <br>
  </div>
  <div class="form_header">Description of Work</div>
  <div class="form_block">
    <label>Job/Task Title</label><br>
    <input type="text" name="request[title]"><br>
    <label>Description</label><br>
    <input type="text" name="request[description]"><br>
    <br>
    <label>Associated (approved) SSWP's</label><br>
    <input type="text" name="request[sswps]"><br>
    <label>Associated Change Notice(s)</label><br>
    <input type="text" name="request[change_notices]"><br>
  </div>
  <div class="form_header">Additional Information</div>
  <div class="form_block">

    <label>All crew members will have curent RWP certification at time of project.</label><br>
    <input type="radio" name="request[rwp]" value="yes"> Yes <br>
    <input type="radio" name="request[rwp]" value="no"> No <br>
    <br>
    <label>Require OCS or other high voltage equipmrny to be de-energized?</label><br>
    <input type="radio" name="request[ocs]" value="yes"> Yes <br>
    <input type="radio" name="request[ocs]" value="no"> No <br>
    <br>
    <label>Disturb the track ballast, ties, or structure?</label><br>
    <input type="radio" name="request[disturb]" value="yes"> Yes <br>
    <input type="radio" name="request[disturb]" value="no"> No <br>
    <br>
    <label>Require Railroad Maintenance Machinery (RRM) or Hirail equipment on track?</label><br>
    <input type="radio" name="request[rrm]" value="yes"> Yes <br>
    <input type="radio" name="request[rrm]" value="no"> No <br>
    <br>
    <label>Require equipment off track that may foul track?</label><br>
    <input type="radio" name="request[foul]" value="yes"> Yes <br>
    <input type="radio" name="request[foul]" value="no"> No <br>
    <br>
    <label>Disable/Affect crossings? (ex. Will equipment be staged on traffic loops?)</label><br>
    <input type="radio" name="request[crossings]" value="yes"> Yes <br>
    <input type="radio" name="request[crossings]" value="no"> No <br>
    <br>
    <label>Involve underground work, requiring utility locates?</label><br>
    <input type="radio" name="request[underground]" value="yes"> Yes <br>
    <input type="radio" name="request[underground]" value="no"> No <br>
    <br>
    <label>Require crossing flagging or traffic control?</label><br>
    <input type="radio" name="request[flagging]" value="yes"> Yes <br>
    <input type="radio" name="request[flagging]" value="no"> No <br>
    <br>

  </div>
  <div class="form_header hidden">Reason for Late Submittal</div>
  <div class="form_block hidden">
    <label>Explain why request was not submitted at least three weeks prior to start of work:</label>
    <input type="text" name="request[late_reason]">
    <label>Explain why work must be performed on short notice rather than in accordancy with standard RTW approval:</label>
    <input type="text" name="request[rush_reason]">
  </div>
  <div class="form_header hidden">Reason for Change</div>
  <div class="form_block hidden">
    <label>Explain reason for change from original request:</label>
    <input type="text" name="request[change_reason]">
  </div>
  <div class="form_header">Submittal</div>
  <div class="form_block">
    <p>By clicking submit button, I verify that blah blah blah…</p>
    <input type="submit" value="Submit Request">
  </div>

</div>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <br>
