<div class="form_block_container">
  <h3>Right To Work Request Form</h3>
  <div class="form_block">
    <p>Statement about before filling out this form, gotta do some other things, blah blah blah…</p>
    <button type="button" name="reset_form">Reset Form</button>
  </div>
  <div class="form_header">Requester Information</div>
  <div class="form_block">

    <%= f.label :requestor_name %>
    <%= f.text_field :requestor_name %>
    <%= f.label :contractor, "Company" %>
    <%= f.text_field :contractor %>
    <%= f.label :requestor_email %>
    <%= f.email_field :requestor_email %>
    <%= f.label :requestor_phone %>
    <%= f.text_field :requestor_phone %>
    <%= f.label :requestor_project %>
    <%= f.text_field :requestor_project %>
    <%= f.label :requestor_work_directive %>
    <%= f.text_field :requestor_work_directive %>

  </div>

  <div class="form_header">Work Schedule</div>
  <div class="form_block">
    <%= f.label :year %>
    <%= f.number_field :year, min: 2019 %>
    <br>

    <%= f.label :week %>
    <%= f.number_field :week, min: 1 %>
    <br>

    <%= f.label :days %>
    <br>
    Mon<%= f.check_box :monday, {}, checked_value = "monday", unchecked_value = "" %>
    Tues<%= f.check_box :tuesday, {}, checked_value = "tuesday", unchecked_value = "" %>
    Wed<%= f.check_box :wednesday, {}, checked_value = "wednesday", unchecked_value = "" %>
    Thurs<%= f.check_box :thursday, {}, checked_value = "thursday", unchecked_value = "" %>
    Fri<%= f.check_box :friday, {}, checked_value = "friday", unchecked_value = "" %>
    Sat<%= f.check_box :saturday, {}, checked_value = "saturday", unchecked_value = "" %>
    Sun<%= f.check_box :sunday, {}, checked_value = "sunday", unchecked_value = "" %>
    <br>
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
    <br>
    <%= f.label :end_time %>
    <%= f.time_field :end_time %>
    <br>

    <%= f.label :night_work %>?
    <br>
    <%= f.check_box :night_work, {}, checked_value = "1", unchecked_value = "" %>  </div>

  <div class="form_header">Work Location</div>
  <div class="form_block">
    <%= f.label :cp1 %>
    <%= f.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :mp1 %>
    <%= f.number_field :mp1, min: 1 %>
    <br>
    <%= f.label :cp2 %>
    <%= f.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :mp2 %>
    <%= f.number_field :mp2, min: 1 %>

  </div>

  <div class="form_header">On Track Safety Method (OTS)</div>
  <div class="form_block">
    <%= f.label :worker_primary %>
    <%= f.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :worker_secondary1 %>
    <%= f.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :worker_secondary2 %>
    <%= f.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :worker_secondary3 %>
    <%= f.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :worker_secondary4 %>
    <%= f.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
    <br>
    <%= f.label :worker_secondary5 %>
    <%= f.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
    <br>

    <%= f.label :single_track %>?
    <%= f.radio_button :single_track, "single" %> Yes <br>
    <%= f.radio_button :single_track, "multi" %> No <br>
    <br>
    <%= f.label :track %>
    <br>
    MT1<%= f.check_box :MT1, {}, checked_value = "MT1", unchecked_value = "" %>
    MT2<%= f.check_box :MT2, {}, checked_value = "MT2", unchecked_value = "" %>
    MT3<%= f.check_box :MT3, {}, checked_value = "MT3", unchecked_value = "" %>
    MT4<%= f.check_box :MT4, {}, checked_value = "MT4", unchecked_value = "" %>
    <br>
    <%= f.label :protection %>
    <br>
    TAW<%= f.check_box :taw, {}, checked_value = "taw", unchecked_value = "" %>
    Form B<%= f.check_box :form_b, {}, checked_value = "form_b", unchecked_value = "" %>
    Form C<%= f.check_box :form_c, {}, checked_value = "form_c", unchecked_value = "" %>
    Track & Time<%= f.check_box :track_and_time, {}, checked_value = "track_and_time", unchecked_value = "" %>
    <br>


  </div>

  <div class="form_header">Description of Work</div>
  <div class="form_block">
    <%= f.label :title, "Job/Task Title" %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :sswps, "Associated (approved) SSWP's" %>
    <%= f.text_field :sswps %>
    <br>
    <%= f.label :change_notices, "Associated Change Notice(s)" %>
    <%= f.text_field :change_notices %>
    <br>

  </div>

  <div class="form_header">Additional Information</div>
  <div class="form_block">
    <h4>Does this project...</h4>
    <br>
    <br>
    <%= f.label :rwp, "All crew members will have curent RWP certification at time of project." %>
    <br>
    <%= f.radio_button :rwp, "yes" %> Yes <br>
    <%= f.radio_button :rwp, "no" %> No <br>
    <br>
    <%= f.label :ocs, "Require OCS or other high voltage equipmrny to be de-energized?" %>
    <br>
    <%= f.radio_button :ocs, "yes" %> Yes <br>
    <%= f.radio_button :ocs, "no" %> No <br>
    <br>
    <%= f.label :disturb, "Disturb the track ballast, ties, or structure?" %>
    <br>
    <%= f.radio_button :disturb, "yes" %> Yes <br>
    <%= f.radio_button :disturb, "no" %> No <br>
    <br>
    <%= f.label :rrm, "Require Railroad Maintenance Machinery (RRM) or Hirail equipment on track?" %>
    <br>
    <%= f.radio_button :rrm, "yes" %> Yes <br>
    <%= f.radio_button :rrm, "no" %> No <br>
    <br>
    <%= f.label :foul, "Require equipment off track that may foul track?" %>
    <br>
    <%= f.radio_button :foul, "yes" %> Yes <br>
    <%= f.radio_button :foul, "no" %> No <br>
    <br>
    <%= f.label :crossings, "Disable/Affect crossings? (ex. Will equipment be staged on traffic loops?)" %>
    <br>
    <%= f.radio_button :crossings, "yes" %> Yes <br>
    <%= f.radio_button :crossings, "no" %> No <br>
    <br>
    <%= f.label :underground, "Involve underground work, requiring utility locates?" %>
    <br>
    <%= f.radio_button :underground, "yes" %> Yes <br>
    <%= f.radio_button :underground, "no" %> No <br>
    <br>
    <%= f.label :flagging, "Require crossing flagging or traffic control?" %>
    <br>
    <%= f.radio_button :flagging, "yes" %> Yes <br>
    <%= f.radio_button :flagging, "no" %> No <br>
    <br>

  </div>

  <div class="form_header hidden">Reason for Late Submittal</div>
  <div class="form_block hidden">
    <%= f.label :late_reason, "Explain why request was not submitted at least three weeks prior to start of work:" %>
    <%= f.text_field :late_reason %>
    <br>
    <%= f.label :rush_reason, "Explain why work must be performed on short notice rather than in accordancy with standard RTW approval:" %>
    <%= f.text_field :rush_reason %>
    <%= f.label :change_reason, "Explain why the change is being requested" %>
    <%= f.text_field :change_reason %>
    <br>

  </div>

  <div class="form_header">Submittal</div>
  <div class="form_block">
    <p>By clicking submit button, I verify that blah blah blah…</p>
    <input type="submit" value="Submit Request">
  </div>

</div>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <br>
