<div class="form_block_container">
  <h3>Right To Work Request Form</h3>
  <div class="form_block">
    <div class="form_block_line">
    <p>Statement about before filling out this form, gotta do some other things, blah blah blah…</p>
    <button type="button" name="reset_form">Reset Form</button>
  </div>
</div>
  <div class="form_header">Requester Information</div>
  <div class="form_block">
    <div class="form_block_line">
    <%= f.label :requestor_name, "Name: " %>
    <%= f.text_field :requestor_name, class: "grow" %>
    </div>
    <br>
    <div class="form_block_line">
    <%= f.label :requestor_email, "Email: " %>
    <%= f.email_field :requestor_email, class: "grow"  %>
    <%= f.label :requestor_phone, "Phone: " %>
    <%= f.text_field :requestor_phone, class: "grow"  %>
    </div>
    <br>
    <div class="form_block_line">
    <%= f.label :contractor, "Organization/Company:" %>
    <%= f.text_field :contractor, class: "grow"  %>
    </div>
    <br>
    <div class="form_block_line">
  <%= f.label :requestor_project, "Project: " %>
    <%= f.text_field :requestor_project, class: "grow"  %>
    <%= f.label :requestor_work_directive, "Work Directive: " %>
    <%= f.text_field :requestor_work_directive, class: "grow"  %>
    </div>
    <br>
    <div class="form_block_line">
    <%= f.label :color, "Color:" %>
    <%= f.select(:color, @color_options.map { |value| [ value[0], value[1], {class: value[1]} ] }) %>
    </div>
  </div>

  <div class="form_header">Time Period</div>
  <div class="form_block">
    <div class="form_block_line">

    <%= f.label :year, "Year:" %>
    <%= f.number_field :year, min: 2020 %>

    <%= f.label :week, "Week:" %>
    <%= f.number_field :week, min: 1 %>
    <%= f.label :night_work, "Night Work?:" %>
    <%= f.check_box :night_work, {}, checked_value = 1, unchecked_value = 0 %>
    </div>
    <br>
    <div class="form_block_line">

    </div>
</div>

    <div class="form_header">Description of Work</div>
    <div class="form_block">
      <div class="form_block_line">
        <div class="form_block_line_item">
          <%= f.label :title, "Job/Task Title:" %>
          <%= f.text_field :title, class: "grow"  %>
        </div>
    </div>
      <br>
      <div class="form_block_line">
        <div class="form_block_line_item">
            <%= f.label :description, "Description of Work:" %>
            <%= f.text_area :description, class: "tall" %>
        </div>
      </div>
      <br>
      <div class="form_block_line">
        <div class="form_block_line_item">

      <%= f.label :sswps, "Associated (approved) SSWP's" %>
      <%= f.text_area :sswps, class: "tall"  %>
        </div>
      <div class="form_block_line_item">
      <%= f.label :change_notices, "Associated Change Notice(s)" %>
      <%= f.text_area :change_notices, class: "tall"  %>
    </div>
      <br>
    </div>

    </div>
    <div class="form_header">Additional Information</div>
    <div class="form_block">
      <div class="form_block_line left_align">
      <%= f.radio_button :rwp, "yes" %> Yes
      <%= f.radio_button :rwp, "no" %> No
      <%= f.label :rwp, "All crew members will have curent RWP certification at time of project." %>
      </div>
      <br>
      <h4>Will this work...</h4>
      <div class="form_block_line left_align">
      <%= f.radio_button :ocs, "yes" %> Yes
      <%= f.radio_button :ocs, "no" %> No
      <%= f.label :ocs, "Require OCS or other high voltage equipmrny to be de-energized?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :disturb, "yes" %> Yes
      <%= f.radio_button :disturb, "no" %> No
      <%= f.label :disturb, "Disturb the track ballast, ties, or structure?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :rrm, "yes" %> Yes
      <%= f.radio_button :rrm, "no" %> No
      <%= f.label :rrm, "Require Railroad Maintenance Machinery (RRM) or Hirail equipment on track?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :foul, "yes" %> Yes
      <%= f.radio_button :foul, "no" %> No
      <%= f.label :foul, "Require equipment off track that may foul track?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :crossings, "yes" %> Yes
      <%= f.radio_button :crossings, "no" %> No
      <%= f.label :crossings, "Disable/Affect crossings? (ex. Will equipment be staged on traffic loops?)" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :underground, "yes" %> Yes
      <%= f.radio_button :underground, "no" %> No
      <%= f.label :underground, "Involve underground work, requiring utility locates?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :flagging, "yes" %> Yes
      <%= f.radio_button :flagging, "no" %> No
      <%= f.label :flagging, "Require crossing flagging or traffic control?" %>
      </div>
      <br>
    </div>


    <div class="form_header">Daily Schedule</div>
    <div class="form_block">
      <div class="form_block_line">
      <%= f.label :days %>
      </div>
      <div class="form_block_line">
      Mon<%= f.check_box :mon, {}, checked_value = 1, unchecked_value = 0 %>
      Tues<%= f.check_box :tue, {}, checked_value = 1, unchecked_value = 0 %>
      Wed<%= f.check_box :wed, {}, checked_value = 1, unchecked_value = 0 %>
      Thurs<%= f.check_box :thu, {}, checked_value = 1, unchecked_value = 0 %>
      Fri<%= f.check_box :fri, {}, checked_value = 1, unchecked_value = 0 %>
      Sat<%= f.check_box :sat, {}, checked_value = 1, unchecked_value = 0 %>
      Sun<%= f.check_box :sun, {}, checked_value = 1, unchecked_value = 0 %>

      </div>
      <br>
      <div class="form_day_block hidden" id="monday_block">
        <div class="form_block_line">
        <h4>Monday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="mon" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="mon" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="mon" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="mon" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="mon" data-from="sat">Copy Sat</button>
          <button type="button" class="copy_day" data-to="mon" data-from="sun">Copy Sun</button>
        </div>
        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :monday_hash, @request.monday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>


        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_mon, class: "tall grow"  %>
        </div>
      </div>

      </div>

      <div class="form_day_block hidden" id="tuesday_block">
        <div class="form_block_line">
        <h4>Tuesday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="tue" data-from="mon">Copy Mon</button>
          <button type="button" class="copy_day" data-to="tue" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="tue" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="tue" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="tue" data-from="sat">Copy Sat</button>
          <button type="button" class="copy_day" data-to="tue" data-from="sun">Copy Sun</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :tuesday_hash, @request.tuesday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_tue, class: "tall grow"  %>
        </div>
      </div>

      </div>

      <div class="form_day_block hidden" id="wednesday_block">
        <div class="form_block_line">
        <h4>Wednesday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="wed" data-from="mon">Copy Mon</button>
          <button type="button" class="copy_day" data-to="wed" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="wed" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="wed" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="wed" data-from="sat">Copy Sat</button>
          <button type="button" class="copy_day" data-to="wed" data-from="sun">Copy Sun</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :wednesday_hash, @request.wednesday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>


        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_wed, class: "tall grow"  %>
        </div>
      </div>

      </div>

      <div class="form_day_block hidden" id="thursday_block">
        <div class="form_block_line">
        <h4>Thursday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="thu" data-from="mon">Copy Mon</button>
          <button type="button" class="copy_day" data-to="thu" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="thu" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="thu" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="thu" data-from="sat">Copy Sat</button>
          <button type="button" class="copy_day" data-to="thu" data-from="sun">Copy Sun</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :thursday_hash, @request.thursday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>


        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_thu, class: "tall grow"  %>
        </div>
      </div>

      </div>

      <div class="form_day_block hidden" id="friday_block">
        <div class="form_block_line">
        <h4>Friday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="fri" data-from="mon">Copy Mon</button>
          <button type="button" class="copy_day" data-to="fri" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="fri" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="fri" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="fri" data-from="sat">Copy Sat</button>
          <button type="button" class="copy_day" data-to="fri" data-from="sun">Copy Sun</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :friday_hash, @request.friday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>


        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_fri, class: "tall grow"  %>
        </div>
      </div>

      </div>

      <div class="form_day_block hidden" id="saturday_block">
        <div class="form_block_line">
        <h4>Saturday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="sat" data-from="mon">Copy Mon</button>
          <button type="button" class="copy_day" data-to="sat" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="sat" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="sat" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="sat" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="sat" data-from="sun">Copy Sun</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :saturday_hash, @request.saturday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>


        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_sun, class: "tall grow"  %>
        </div>
      </div>

      </div>

      <div class="form_day_block hidden" id="sunday_block">
        <div class="form_block_line">
        <h4>Sunday</h4>
        </div>
        <div class="daily_form_block_line">
          <button type="button" class="copy_day" data-to="sun" data-from="mon">Copy Mon</button>
          <button type="button" class="copy_day" data-to="sun" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="sun" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="sun" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="sun" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="sun" data-from="sat">Copy Sat</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Window</div>
          <div class="form_block_line_right">
            <%= f.fields_for :sunday_hash, @request.sunday_hash do |p| %>
          <%= p.label :start_time %>
          <%= p.time_field :start_time %>
          <br>
          <%= p.label :end_time %>
          <%= p.time_field :end_time %>
        </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Work Area Limits</div>
          <div class="column">
            <div class="form_block_line_right">
            <%= p.label :cp1 %>
            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :mp1 %>
            <%= p.number_field :mp1, min: 1 %>
            </div>
            <div class="form_block_line_right">
                <%= p.label :cp2 %>
                <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                <%= p.label :mp2 %>
                <%= p.number_field :mp2, min: 1 %>
            </div>
          </div>
        </div>


        <div class="daily_form_block_line">
          <div class="form_block_line_left">Track(s)</div>
          <div class="form_block_line_right">
            MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %>
            MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %>
            MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %>
            MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %>
          </div>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Protection</div>
          <div class="form_block_line_right">
          TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %>
          Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %>
          Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %>
          Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Single Tracking</div>
        <div class="form_block_line_right">
          <%= p.radio_button :single_track, "single" %> Yes <br>
          <%= p.radio_button :single_track, "multi" %> No <br>
        </div>
      </div>

      <div class="daily_form_block_line">
        <div class="form_block_line_left">Support Allocation</div>
        <div class="form_block_line_right">
          <div class="form_block_line_item">
            <%= p.label :worker_primary, "Primary:" %>
            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            <%= p.label :worker_secondary1, "Secondary(s):" %>
            <div>
              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }) %>
              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="daily_form_block_line <% if @user.role =="user" %>hidden<% end %>">
        <div class="form_block_line_left">Admin Notes</div>
        <div class="form_block_line_right">
          <%= f.text_area :admin_notes_sun, class: "tall grow"  %>
        </div>
      </div>

      </div>



      </div>

  <div class="form_header">Reason for Late Submittal</div>
  <div class="form_block">
    <div class="form_block_line">

    <%= f.label :late_reason, "Explain why request was not submitted at least two weeks prior to start of work:" %>
    <%= f.text_field :late_reason %>
    <br>
    <%= f.label :rush_reason, "Explain why work must be performed on short notice rather than in accordancy with standard RTW approval:" %>
    <%= f.text_field :rush_reason %>
    <%= f.label :change_reason, "Explain why the change is being requested" %>
    <%= f.text_field :change_reason %>
    <br>
  </div>

  </div>

  <div class="form_header">Submittal</div>

  <%= f.file_field :attachments, multiple: 1 %>
  <br>
  <div class="form_block">
    <div class="form_block_line">

    <p>By clicking submit button, I verify that blah blah blah…</p>
    <input type="submit" value="Submit Request">
  </div>
</div>

</div>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <br>

<% [["MonData", @request.monday_hash], ["TueData", @request.tuesday_hash], ["WedData", @request.wednesday_hash], ["ThuData", @request.thursday_hash], ["FriData", @request.friday_hash], ["SatData", @request.saturday_hash], ["SunData", @request.sunday_hash]].each do |day| %>
  <% if day[1]["start_time"] != "" && day[1]["start_time"] != nil  %>
    <input name="<%= day[0] %>" id="<%= day[0] %>" data-start="<%= day[1]["start_time"] %>" data-end="<%= day[1]["end_time"] %>" data-cp1="<%= day[1]["cp1"] %>" data-cp2="<%= day[1]["cp2"] %>" data-mp1="<%= day[1]["mp1"] %>" data-mp2="<%= day[1]["mp2"] %>" data-MT1="<%= day[1]["MT1"] %>" data-MT2="<%= day[1]["MT2"] %>" data-MT3="<%= day[1]["MT3"] %>" data-MT4="<%= day[1]["MT4"] %>" data-taw="<%= day[1]["taw"] %>" data-form_b="<%= day[1]["form_b"] %>" data-form_c="<%= day[1]["form_c"] %>" data-track_and_time="<%= day[1]["track_and_time"] %>"  data-single_track="<%= day[1]["single_track"] %>" data-worker_primary="<%= day[1]["worker_primary"] %>" data-worker_secondary1="<%= day[1]["worker_secondary1"] %>" data-worker_secondary2="<%= day[1]["worker_secondary2"] %>" data-worker_secondary3="<%= day[1]["worker_secondary3"] %>" data-worker_secondary4="<%= day[1]["worker_secondary4"] %>" data-worker_secondary5="<%= day[1]["worker_secondary5"] %>" type = hidden>
  <% end %>
<% end %>
