<div class="form_block_container">
  <div class="title_card">
  <p>Right To Work Request Form</p>
  <% if @errors %>
    <div>
      <ul>
        <% @errors.each do |error_text| %>
          <li><%= error_text %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
  <div class="form_block" id="statement">
    <div>
      <p>Please ensure that all associated SSWP’s (Site Specific Work Plans) and ECN’s (Engineering Change Notices) have been approved prior to submitting an RTW (Right To Work) Request.  RTW Requests must be submitted at least three weeks prior to the intended start of work.  Request Submittals are not complete and will not be considered for approval until all necessary scheduling information has been included on this form.</p>
    </div>
  </div>

  <div class="form_header">Requester Information</div>
  <div class="form_block">
    <div class="form_block_line">
    <%= f.label :requestor_name, "Name: " %>
    <%= f.text_field :requestor_name, class: "grow" %>
    </div>
    <br>
    <div class="form_block_line">
    <%= f.label :requestor_email, "Email: " %>
    <%= f.email_field :requestor_email, class: "grow"  %>
    <%= f.label :requestor_phone, "Phone: " %>
    <%= f.text_field :requestor_phone, class: "grow"  %>
    </div>
    <br>
    <div class="form_block_line">
    <%= f.label :contractor, "Organization/Company:" %>
    <%= f.text_field :contractor, class: "grow"  %>
    </div>
    <br>
    <div class="form_block_line">
  <%= f.label :requestor_project, "Project: " %>
    <%= f.text_field :requestor_project, class: "grow"  %>
    <%= f.label :requestor_work_directive, "Work Directive: " %>
    <%= f.text_field :requestor_work_directive, class: "grow"  %>
    </div>
    <br>
    <div class="form_block_line">
    <%= f.label :color, "Color:" %>
    <%= f.select(:color, @color_options.map { |value| [ value[0], value[1], {class: value[1]} ] }) %>
    </div>
  </div>

  <div class="form_header">Time Frame</div>
  <div class="form_block">
    <div class="form_block_line">

    <%= f.label :year, "Year:" %>
    <%= f.number_field :year, min: 2020 %>

    <%= f.label :week, "Week:" %>
    <%= f.number_field :week, min: 1 %>
    <%= f.label :night_work, "Night Work?:" %>
    <%= f.check_box :night_work, {}, checked_value = 1, unchecked_value = 0 %>
    </div>
    <div class="form_block_line">

    </div>
</div>

    <div class="form_header">Description of Work</div>
    <div class="form_block">
      <div class="form_block_line">
        <div class="form_block_line_item">
          <%= f.label :title, "Job/Task Title:" %>
          <%= f.text_field :title, class: "grow"  %>
        </div>
    </div>
      <br>
      <div class="form_block_line">
        <div class="form_block_line_item">
            <%= f.label :description, "Description of Work:" %>
            <%= f.text_area :description, class: "tall" %>
        </div>
      </div>
      <br>
      <div class="form_block_line">
        <div class="form_block_line_item">

      <%= f.label :sswps, "Associated (approved) SSWP's" %>
      <%= f.text_area :sswps, class: "tall"  %>
        </div>
      <div class="form_block_line_item">
      <%= f.label :change_notices, "Associated Change Notice(s)" %>
      <%= f.text_area :change_notices, class: "tall"  %>
    </div>
      <br>
    </div>

    </div>
    <div class="form_header">Additional Information</div>
    <div class="form_block">
      <div class="form_block_line left_align">
      <%= f.radio_button :rwp, "yes" %> Yes
      <%= f.radio_button :rwp, "no" %> No
      <%= f.label :rwp, "All crew members will have curent RWP certification at time of project." %>
      </div>
      <h4 class="leftmargin bottom_margin">Will this work...</h4>
      <div class="form_block_line left_align">
      <%= f.radio_button :ocs, "yes" %> Yes
      <%= f.radio_button :ocs, "no" %> No
      <%= f.label :ocs, "Require OCS or other high voltage equipment to be de-energized?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :disturb, "yes" %> Yes
      <%= f.radio_button :disturb, "no" %> No
      <%= f.label :disturb, "Disturb the track ballast, ties, or structure?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :rrm, "yes" %> Yes
      <%= f.radio_button :rrm, "no" %> No
      <%= f.label :rrm, "Require Railroad Maintenance Machinery (RRM) or Hirail equipment on track?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :foul, "yes" %> Yes
      <%= f.radio_button :foul, "no" %> No
      <%= f.label :foul, "Require equipment off track that may foul track?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :crossings, "yes" %> Yes
      <%= f.radio_button :crossings, "no" %> No
      <%= f.label :crossings, "Disable/Affect crossings?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :underground, "yes" %> Yes
      <%= f.radio_button :underground, "no" %> No
      <%= f.label :underground, "Involve underground work, requiring utility locates?" %>
      </div>
      <div class="form_block_line left_align">
      <%= f.radio_button :flagging, "yes" %> Yes
      <%= f.radio_button :flagging, "no" %> No
      <%= f.label :flagging, "Require traffic control?" %>
      </div>
    </div>


    <div class="form_header">Daily Schedule</div>
    <div class="form_block">
      <div class="form_block_line">
        <div class="form_block_spaced">Mon<%= f.check_box :mon, {}, checked_value = 1, unchecked_value = 0 %></div>
        <div class="form_block_spaced">Tues<%= f.check_box :tue, {}, checked_value = 1, unchecked_value = 0 %></div>
        <div class="form_block_spaced">Wed<%= f.check_box :wed, {}, checked_value = 1, unchecked_value = 0 %></div>
        <div class="form_block_spaced">Thurs<%= f.check_box :thu, {}, checked_value = 1, unchecked_value = 0 %></div>
        <div class="form_block_spaced">Fri<%= f.check_box :fri, {}, checked_value = 1, unchecked_value = 0 %></div>
        <div class="form_block_spaced">Sat<%= f.check_box :sat, {}, checked_value = 1, unchecked_value = 0 %></div>
        <div class="form_block_spaced">Sun<%= f.check_box :sun, {}, checked_value = 1, unchecked_value = 0 %></div>
      </div>
      <% if @action == "edit" %>
        <div class="form_block_line">
          <p class='red preserve-lines'>Unchecking a day and submitting changes will cancel that day only.
      To cancel full request please use cancel request button at top of form.</p>
        </div>
      <% end %>

      <div class="form_day_block <% if params["request"] %><% if params["request"]["mon"] != "1" %>hidden<% end %><% end %>" id="monday_block">
        <div class="form_block_line">
          <h4>Monday</h4>
        </div>
        <div class="daily_form_block_line copy_day_button_line">
          <button type="button" class="copy_day" data-to="mon" data-from="tue">Copy Tue</button>
          <button type="button" class="copy_day" data-to="mon" data-from="wed">Copy Wed</button>
          <button type="button" class="copy_day" data-to="mon" data-from="thu">Copy Thu</button>
          <button type="button" class="copy_day" data-to="mon" data-from="fri">Copy Fri</button>
          <button type="button" class="copy_day" data-to="mon" data-from="sat">Copy Sat</button>
          <button type="button" class="copy_day" data-to="mon" data-from="sun">Copy Sun</button>
        </div>

        <div class="daily_form_block_line">
          <div class="form_block_line_left">Shift</div>
          <div class="form_block_line_right">
            <%= f.fields_for :monday_hash, @request.monday_hash do |p| %>
              <div class="form_block_spaced">
                <%= p.label :start_time %>
                <%= p.time_field :start_time %>
              </div>
              <div class="form_block_spaced">
                <%= p.label :end_time %>
                <%= p.time_field :end_time %>
              </div>
            </div>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Briefing Details</div>
            <div class="column">
              <div class="form_block_line_right">
                <div class="form_block_spaced">
                  <%= p.label :b_time, "Time" %>
                  <%= p.time_field :b_time %>
                </div>
                <div class="form_block_spaced">
                  <%= p.label :b_location, "Location" %>
                  <%= p.text_field :b_location %>
                </div>
              </div>
              <div class="form_block_line_right">
                <div class="form_block_spaced">
                  <%= p.label :onsite_name, "Onsite Contact Name" %>
                  <%= p.text_field :onsite_name %>
                </div>
                <div class="form_block_spaced">
                  <%= p.label :onsite_number, "Onsite Contact Number" %>
                  <%= p.text_field :onsite_number %>
                </div>
              </div>
            </div>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Work Area Limits</div>
            <div class="column">
              <div class="form_block_line_right">
                <div class="form_block_spaced">
                  <%= p.label :cp1, "CP1" %>
                  <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                </div>
                <div class="form_block_spaced">
                  <%= p.label :mp1, "MP1"  %>
                  <%= p.number_field :mp1, min: 0, step: 0.1 %>
                </div>
              </div>
              <div class="form_block_line_right">
                <div class="form_block_spaced">
                  <%= p.label :cp1, "CP2"  %>
                  <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                </div>
                <div class="form_block_spaced">
                  <%= p.label :mp2, "MP2"  %>
                  <%= p.number_field :mp2, min: 0, step: 0.1 %>
                </div>
              </div>
            </div>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Track(s)</div>
            <div class="form_block_line_right">
              <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
            </div>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Protection</div>
            <div class="form_block_line_right">
              <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
              <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
            </div>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Single Tracking</div>
            <div class="form_block_line_right">
              <%= p.radio_button :single_track, "single" %> Yes <br>
              <%= p.radio_button :single_track, "multi" %> No <br>
            </div>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Support Allocation</div>
            <div class="form_block_line_right">
              <div class="form_block_line_item">
                <%= p.label :worker_primary, "Primary:" %>
                <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                <%= p.label :worker_secondary1, "Secondary(s):" %>
                <div>
                  <div>
                    <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                  </div>
                  <div>
                    <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                  </div>
                  <div>
                    <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
          </div>
          <div class="daily_form_block_line">
            <div class="form_block_line_left">Requestor Notes</div>
            <div class="form_block_line_right">
              <%= f.text_area :requestor_notes_mon, class: "tall grow"  %>
            </div>
          </div>
          <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
            <div class="form_block_line_left">Admin Notes</div>
            <div class="form_block_line_right">
              <%= f.text_area :admin_notes_mon, class: "tall grow"  %>
            </div>
          </div>
          <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
            <div class="form_block_line_left">Inspector Notes</div>
            <div class="form_block_line_right">
              <%= f.text_area :inspector_notes_mon, class: "tall grow"  %>
            </div>
          </div>
        </div>

        <div class="form_day_block <% if params["request"] %><% if params["request"]["tue"] != "1" %>hidden<% end %><% end %>" id="tuesday_block">
          <div class="form_block_line">
            <h4>Tuesday</h4>
          </div>
          <div class="daily_form_block_line copy_day_button_line">
            <button type="button" class="copy_day" data-to="tue" data-from="mon">Copy Mon</button>
            <button type="button" class="copy_day" data-to="tue" data-from="wed">Copy Wed</button>
            <button type="button" class="copy_day" data-to="tue" data-from="thu">Copy Thu</button>
            <button type="button" class="copy_day" data-to="tue" data-from="fri">Copy Fri</button>
            <button type="button" class="copy_day" data-to="tue" data-from="sat">Copy Sat</button>
            <button type="button" class="copy_day" data-to="tue" data-from="sun">Copy Sun</button>
          </div>

          <div class="daily_form_block_line">
            <div class="form_block_line_left">Shift</div>
            <div class="form_block_line_right">
              <%= f.fields_for :tuesday_hash, @request.tuesday_hash do |p| %>
                <div class="form_block_spaced">
                  <%= p.label :start_time %>
                  <%= p.time_field :start_time %>
                </div>
                <div class="form_block_spaced">
                  <%= p.label :end_time %>
                  <%= p.time_field :end_time %>
                </div>
              </div>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Briefing Details</div>
              <div class="column">
                <div class="form_block_line_right">
                  <div class="form_block_spaced">
                    <%= p.label :b_time, "Time" %>
                    <%= p.time_field :b_time %>
                  </div>
                  <div class="form_block_spaced">
                    <%= p.label :b_location, "Location" %>
                    <%= p.text_field :b_location %>
                  </div>
                </div>
                <div class="form_block_line_right">
                  <div class="form_block_spaced">
                    <%= p.label :onsite_name, "Onsite Contact Name" %>
                    <%= p.text_field :onsite_name %>
                  </div>
                  <div class="form_block_spaced">
                    <%= p.label :onsite_number, "Onsite Contact Number" %>
                    <%= p.text_field :onsite_number %>
                  </div>
                </div>
              </div>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Work Area Limits</div>
              <div class="column">
                <div class="form_block_line_right">
                  <div class="form_block_spaced">
                    <%= p.label :cp1, "CP1" %>
                    <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                  </div>
                  <div class="form_block_spaced">
                    <%= p.label :mp1, "MP1"  %>
                    <%= p.number_field :mp1, min: 0, step: 0.1 %>
                  </div>
                </div>
                <div class="form_block_line_right">
                  <div class="form_block_spaced">
                    <%= p.label :cp1, "CP2"  %>
                    <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                  </div>
                  <div class="form_block_spaced">
                    <%= p.label :mp2, "MP2"  %>
                    <%= p.number_field :mp2, min: 0, step: 0.1 %>
                  </div>
                </div>
              </div>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Track(s)</div>
              <div class="form_block_line_right">
                <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
              </div>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Protection</div>
              <div class="form_block_line_right">
                <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
                <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
              </div>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Single Tracking</div>
              <div class="form_block_line_right">
                <%= p.radio_button :single_track, "single" %> Yes <br>
                <%= p.radio_button :single_track, "multi" %> No <br>
              </div>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Support Allocation</div>
              <div class="form_block_line_right">
                <div class="form_block_line_item">
                  <%= p.label :worker_primary, "Primary:" %>
                  <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                  <%= p.label :worker_secondary1, "Secondary(s):" %>
                  <div>
                    <div>
                      <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    </div>
                    <div>
                      <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    </div>
                    <div>
                      <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
            </div>
            <div class="daily_form_block_line">
              <div class="form_block_line_left">Requestor Notes</div>
              <div class="form_block_line_right">
                <%= f.text_area :requestor_notes_tue, class: "tall grow"  %>
              </div>
            </div>
            <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
              <div class="form_block_line_left">Admin Notes</div>
              <div class="form_block_line_right">
                <%= f.text_area :admin_notes_tue, class: "tall grow"  %>
              </div>
            </div>
            <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
              <div class="form_block_line_left">Inspector Notes</div>
              <div class="form_block_line_right">
                <%= f.text_area :inspector_notes_tue, class: "tall grow"  %>
              </div>
            </div>
          </div>

          <div class="form_day_block <% if params["request"] %><% if params["request"]["wed"] != "1" %>hidden<% end %><% end %>" id="wednesday_block">
            <div class="form_block_line">
              <h4>Wednesday</h4>
            </div>
            <div class="daily_form_block_line copy_day_button_line">
              <button type="button" class="copy_day" data-to="wed" data-from="mon">Copy Mon</button>
              <button type="button" class="copy_day" data-to="wed" data-from="tue">Copy Tue</button>
              <button type="button" class="copy_day" data-to="wed" data-from="thu">Copy Thu</button>
              <button type="button" class="copy_day" data-to="wed" data-from="fri">Copy Fri</button>
              <button type="button" class="copy_day" data-to="wed" data-from="sat">Copy Sat</button>
              <button type="button" class="copy_day" data-to="wed" data-from="sun">Copy Sun</button>
            </div>

            <div class="daily_form_block_line">
              <div class="form_block_line_left">Shift</div>
              <div class="form_block_line_right">
                <%= f.fields_for :wednesday_hash, @request.wednesday_hash do |p| %>
                  <div class="form_block_spaced">
                    <%= p.label :start_time %>
                    <%= p.time_field :start_time %>
                  </div>
                  <div class="form_block_spaced">
                    <%= p.label :end_time %>
                    <%= p.time_field :end_time %>
                  </div>
                </div>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Briefing Details</div>
                <div class="column">
                  <div class="form_block_line_right">
                    <div class="form_block_spaced">
                      <%= p.label :b_time, "Time" %>
                      <%= p.time_field :b_time %>
                    </div>
                    <div class="form_block_spaced">
                      <%= p.label :b_location, "Location" %>
                      <%= p.text_field :b_location %>
                    </div>
                  </div>
                  <div class="form_block_line_right">
                    <div class="form_block_spaced">
                      <%= p.label :onsite_name, "Onsite Contact Name" %>
                      <%= p.text_field :onsite_name %>
                    </div>
                    <div class="form_block_spaced">
                      <%= p.label :onsite_number, "Onsite Contact Number" %>
                      <%= p.text_field :onsite_number %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Work Area Limits</div>
                <div class="column">
                  <div class="form_block_line_right">
                    <div class="form_block_spaced">
                      <%= p.label :cp1, "CP1" %>
                      <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                    </div>
                    <div class="form_block_spaced">
                      <%= p.label :mp1, "MP1"  %>
                      <%= p.number_field :mp1, min: 0, step: 0.1 %>
                    </div>
                  </div>
                  <div class="form_block_line_right">
                    <div class="form_block_spaced">
                      <%= p.label :cp1, "CP2"  %>
                      <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                    </div>
                    <div class="form_block_spaced">
                      <%= p.label :mp2, "MP2"  %>
                      <%= p.number_field :mp2, min: 0, step: 0.1 %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Track(s)</div>
                <div class="form_block_line_right">
                  <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
                </div>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Protection</div>
                <div class="form_block_line_right">
                  <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
                  <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
                </div>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Single Tracking</div>
                <div class="form_block_line_right">
                  <%= p.radio_button :single_track, "single" %> Yes <br>
                  <%= p.radio_button :single_track, "multi" %> No <br>
                </div>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Support Allocation</div>
                <div class="form_block_line_right">
                  <div class="form_block_line_item">
                    <%= p.label :worker_primary, "Primary:" %>
                    <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                    <%= p.label :worker_secondary1, "Secondary(s):" %>
                    <div>
                      <div>
                        <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      </div>
                      <div>
                        <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      </div>
                      <div>
                        <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
              </div>
              <div class="daily_form_block_line">
                <div class="form_block_line_left">Requestor Notes</div>
                <div class="form_block_line_right">
                  <%= f.text_area :requestor_notes_wed, class: "tall grow"  %>
                </div>
              </div>
              <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
                <div class="form_block_line_left">Admin Notes</div>
                <div class="form_block_line_right">
                  <%= f.text_area :admin_notes_wed, class: "tall grow"  %>
                </div>
              </div>
              <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
                <div class="form_block_line_left">Inspector Notes</div>
                <div class="form_block_line_right">
                  <%= f.text_area :inspector_notes_wed, class: "tall grow"  %>
                </div>
              </div>
            </div>

            <div class="form_day_block <% if params["request"] %><% if params["request"]["thu"] != "1" %>hidden<% end %><% end %>" id="thursday_block">
              <div class="form_block_line">
                <h4>Thursday</h4>
              </div>
              <div class="daily_form_block_line copy_day_button_line">
                <button type="button" class="copy_day" data-to="thu" data-from="mon">Copy Mon</button>
                <button type="button" class="copy_day" data-to="thu" data-from="tue">Copy Tue</button>
                <button type="button" class="copy_day" data-to="thu" data-from="wed">Copy Wed</button>
                <button type="button" class="copy_day" data-to="thu" data-from="fri">Copy Fri</button>
                <button type="button" class="copy_day" data-to="thu" data-from="sat">Copy Sat</button>
                <button type="button" class="copy_day" data-to="thu" data-from="sun">Copy Sun</button>
              </div>

              <div class="daily_form_block_line">
                <div class="form_block_line_left">Shift</div>
                <div class="form_block_line_right">
                  <%= f.fields_for :thursday_hash, @request.thursday_hash do |p| %>
                    <div class="form_block_spaced">
                      <%= p.label :start_time %>
                      <%= p.time_field :start_time %>
                    </div>
                    <div class="form_block_spaced">
                      <%= p.label :end_time %>
                      <%= p.time_field :end_time %>
                    </div>
                  </div>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Briefing Details</div>
                  <div class="column">
                    <div class="form_block_line_right">
                      <div class="form_block_spaced">
                        <%= p.label :b_time, "Time" %>
                        <%= p.time_field :b_time %>
                      </div>
                      <div class="form_block_spaced">
                        <%= p.label :b_location, "Location" %>
                        <%= p.text_field :b_location %>
                      </div>
                    </div>
                    <div class="form_block_line_right">
                      <div class="form_block_spaced">
                        <%= p.label :onsite_name, "Onsite Contact Name" %>
                        <%= p.text_field :onsite_name %>
                      </div>
                      <div class="form_block_spaced">
                        <%= p.label :onsite_number, "Onsite Contact Number" %>
                        <%= p.text_field :onsite_number %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Work Area Limits</div>
                  <div class="column">
                    <div class="form_block_line_right">
                      <div class="form_block_spaced">
                        <%= p.label :cp1, "CP1" %>
                        <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                      </div>
                      <div class="form_block_spaced">
                        <%= p.label :mp1, "MP1"  %>
                        <%= p.number_field :mp1, min: 0, step: 0.1 %>
                      </div>
                    </div>
                    <div class="form_block_line_right">
                      <div class="form_block_spaced">
                        <%= p.label :cp1, "CP2"  %>
                        <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                      </div>
                      <div class="form_block_spaced">
                        <%= p.label :mp2, "MP2"  %>
                        <%= p.number_field :mp2, min: 0, step: 0.1 %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Track(s)</div>
                  <div class="form_block_line_right">
                    <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
                  </div>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Protection</div>
                  <div class="form_block_line_right">
                    <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
                    <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
                  </div>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Single Tracking</div>
                  <div class="form_block_line_right">
                    <%= p.radio_button :single_track, "single" %> Yes <br>
                    <%= p.radio_button :single_track, "multi" %> No <br>
                  </div>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Support Allocation</div>
                  <div class="form_block_line_right">
                    <div class="form_block_line_item">
                      <%= p.label :worker_primary, "Primary:" %>
                      <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                      <%= p.label :worker_secondary1, "Secondary(s):" %>
                      <div>
                        <div>
                          <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        </div>
                        <div>
                          <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        </div>
                        <div>
                          <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
                </div>
                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Requestor Notes</div>
                  <div class="form_block_line_right">
                    <%= f.text_area :requestor_notes_thu, class: "tall grow"  %>
                  </div>
                </div>
                <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
                  <div class="form_block_line_left">Admin Notes</div>
                  <div class="form_block_line_right">
                    <%= f.text_area :admin_notes_thu, class: "tall grow"  %>
                  </div>
                </div>
                <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
                  <div class="form_block_line_left">Inspector Notes</div>
                  <div class="form_block_line_right">
                    <%= f.text_area :inspector_notes_thu, class: "tall grow"  %>
                  </div>
                </div>
              </div>

              <div class="form_day_block <% if params["request"] %><% if params["request"]["fri"] != "1" %>hidden<% end %><% end %>" id="friday_block">
                <div class="form_block_line">
                  <h4>Friday</h4>
                </div>
                <div class="daily_form_block_line copy_day_button_line">
                  <button type="button" class="copy_day" data-to="fri" data-from="tue">Copy Tue</button>
                  <button type="button" class="copy_day" data-to="fri" data-from="mon">Copy Mon</button>
                  <button type="button" class="copy_day" data-to="fri" data-from="wed">Copy Wed</button>
                  <button type="button" class="copy_day" data-to="fri" data-from="thu">Copy Thu</button>
                  <button type="button" class="copy_day" data-to="fri" data-from="sat">Copy Sat</button>
                  <button type="button" class="copy_day" data-to="fri" data-from="sun">Copy Sun</button>
                </div>

                <div class="daily_form_block_line">
                  <div class="form_block_line_left">Shift</div>
                  <div class="form_block_line_right">
                    <%= f.fields_for :friday_hash, @request.friday_hash do |p| %>
                      <div class="form_block_spaced">
                        <%= p.label :start_time %>
                        <%= p.time_field :start_time %>
                      </div>
                      <div class="form_block_spaced">
                        <%= p.label :end_time %>
                        <%= p.time_field :end_time %>
                      </div>
                    </div>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Briefing Details</div>
                    <div class="column">
                      <div class="form_block_line_right">
                        <div class="form_block_spaced">
                          <%= p.label :b_time, "Time" %>
                          <%= p.time_field :b_time %>
                        </div>
                        <div class="form_block_spaced">
                          <%= p.label :b_location, "Location" %>
                          <%= p.text_field :b_location %>
                        </div>
                      </div>
                      <div class="form_block_line_right">
                        <div class="form_block_spaced">
                          <%= p.label :onsite_name, "Onsite Contact Name" %>
                          <%= p.text_field :onsite_name %>
                        </div>
                        <div class="form_block_spaced">
                          <%= p.label :onsite_number, "Onsite Contact Number" %>
                          <%= p.text_field :onsite_number %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Work Area Limits</div>
                    <div class="column">
                      <div class="form_block_line_right">
                        <div class="form_block_spaced">
                          <%= p.label :cp1, "CP1" %>
                          <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                        </div>
                        <div class="form_block_spaced">
                          <%= p.label :mp1, "MP1"  %>
                          <%= p.number_field :mp1, min: 0, step: 0.1 %>
                        </div>
                      </div>
                      <div class="form_block_line_right">
                        <div class="form_block_spaced">
                          <%= p.label :cp1, "CP2"  %>
                          <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                        </div>
                        <div class="form_block_spaced">
                          <%= p.label :mp2, "MP2"  %>
                          <%= p.number_field :mp2, min: 0, step: 0.1 %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Track(s)</div>
                    <div class="form_block_line_right">
                      <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
                    </div>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Protection</div>
                    <div class="form_block_line_right">
                      <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
                      <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
                    </div>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Single Tracking</div>
                    <div class="form_block_line_right">
                      <%= p.radio_button :single_track, "single" %> Yes <br>
                      <%= p.radio_button :single_track, "multi" %> No <br>
                    </div>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Support Allocation</div>
                    <div class="form_block_line_right">
                      <div class="form_block_line_item">
                        <%= p.label :worker_primary, "Primary:" %>
                        <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                        <%= p.label :worker_secondary1, "Secondary(s):" %>
                        <div>
                          <div>
                            <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          </div>
                          <div>
                            <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          </div>
                          <div>
                            <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
                  </div>
                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Requestor Notes</div>
                    <div class="form_block_line_right">
                      <%= f.text_area :requestor_notes_fri, class: "tall grow"  %>
                    </div>
                  </div>
                  <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
                    <div class="form_block_line_left">Admin Notes</div>
                    <div class="form_block_line_right">
                      <%= f.text_area :admin_notes_fri, class: "tall grow"  %>
                    </div>
                  </div>
                  <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
                    <div class="form_block_line_left">Inspector Notes</div>
                    <div class="form_block_line_right">
                      <%= f.text_area :inspector_notes_fri, class: "tall grow"  %>
                    </div>
                  </div>
                </div>

                <div class="form_day_block <% if params["request"] %><% if params["request"]["sat"] != "1" %>hidden<% end %><% end %>" id="saturday_block">
                  <div class="form_block_line">
                    <h4>Saturday</h4>
                  </div>
                  <div class="daily_form_block_line copy_day_button_line">
                    <button type="button" class="copy_day" data-to="sat" data-from="mon">Copy Mon</button>
                    <button type="button" class="copy_day" data-to="sat" data-from="tue">Copy Tue</button>
                    <button type="button" class="copy_day" data-to="sat" data-from="wed">Copy Wed</button>
                    <button type="button" class="copy_day" data-to="sat" data-from="thu">Copy Thu</button>
                    <button type="button" class="copy_day" data-to="sat" data-from="fri">Copy Fri</button>
                    <button type="button" class="copy_day" data-to="sat" data-from="sun">Copy Sun</button>
                  </div>

                  <div class="daily_form_block_line">
                    <div class="form_block_line_left">Shift</div>
                    <div class="form_block_line_right">
                      <%= f.fields_for :saturday_hash, @request.saturday_hash do |p| %>
                        <div class="form_block_spaced">
                          <%= p.label :start_time %>
                          <%= p.time_field :start_time %>
                        </div>
                        <div class="form_block_spaced">
                          <%= p.label :end_time %>
                          <%= p.time_field :end_time %>
                        </div>
                      </div>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Briefing Details</div>
                      <div class="column">
                        <div class="form_block_line_right">
                          <div class="form_block_spaced">
                            <%= p.label :b_time, "Time" %>
                            <%= p.time_field :b_time %>
                          </div>
                          <div class="form_block_spaced">
                            <%= p.label :b_location, "Location" %>
                            <%= p.text_field :b_location %>
                          </div>
                        </div>
                        <div class="form_block_line_right">
                          <div class="form_block_spaced">
                            <%= p.label :onsite_name, "Onsite Contact Name" %>
                            <%= p.text_field :onsite_name %>
                          </div>
                          <div class="form_block_spaced">
                            <%= p.label :onsite_number, "Onsite Contact Number" %>
                            <%= p.text_field :onsite_number %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Work Area Limits</div>
                      <div class="column">
                        <div class="form_block_line_right">
                          <div class="form_block_spaced">
                            <%= p.label :cp1, "CP1" %>
                            <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                          </div>
                          <div class="form_block_spaced">
                            <%= p.label :mp1, "MP1"  %>
                            <%= p.number_field :mp1, min: 0, step: 0.1 %>
                          </div>
                        </div>
                        <div class="form_block_line_right">
                          <div class="form_block_spaced">
                            <%= p.label :cp1, "CP2"  %>
                            <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                          </div>
                          <div class="form_block_spaced">
                            <%= p.label :mp2, "MP2"  %>
                            <%= p.number_field :mp2, min: 0, step: 0.1 %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Track(s)</div>
                      <div class="form_block_line_right">
                        <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
                      </div>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Protection</div>
                      <div class="form_block_line_right">
                        <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
                        <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
                      </div>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Single Tracking</div>
                      <div class="form_block_line_right">
                        <%= p.radio_button :single_track, "single" %> Yes <br>
                        <%= p.radio_button :single_track, "multi" %> No <br>
                      </div>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Support Allocation</div>
                      <div class="form_block_line_right">
                        <div class="form_block_line_item">
                          <%= p.label :worker_primary, "Primary:" %>
                          <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                          <%= p.label :worker_secondary1, "Secondary(s):" %>
                          <div>
                            <div>
                              <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            </div>
                            <div>
                              <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            </div>
                            <div>
                              <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                    </div>
                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Requestor Notes</div>
                      <div class="form_block_line_right">
                        <%= f.text_area :requestor_notes_sat, class: "tall grow"  %>
                      </div>
                    </div>
                    <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
                      <div class="form_block_line_left">Admin Notes</div>
                      <div class="form_block_line_right">
                        <%= f.text_area :admin_notes_sat, class: "tall grow"  %>
                      </div>
                    </div>
                    <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
                      <div class="form_block_line_left">Inspector Notes</div>
                      <div class="form_block_line_right">
                        <%= f.text_area :inspector_notes_sat, class: "tall grow"  %>
                      </div>
                    </div>
                  </div>

                  <div class="form_day_block <% if params["request"] %><% if params["request"]["sun"] != "1" %>hidden<% end %><% end %>" id="sunday_block">
                    <div class="form_block_line">
                      <h4>Sunday</h4>
                    </div>
                    <div class="daily_form_block_line copy_day_button_line">
                      <button type="button" class="copy_day" data-to="sun" data-from="mon">Copy Mon</button>
                      <button type="button" class="copy_day" data-to="sun" data-from="tue">Copy Tue</button>
                      <button type="button" class="copy_day" data-to="sun" data-from="wed">Copy Wed</button>
                      <button type="button" class="copy_day" data-to="sun" data-from="thu">Copy Thu</button>
                      <button type="button" class="copy_day" data-to="sun" data-from="fri">Copy Fri</button>
                      <button type="button" class="copy_day" data-to="sun" data-from="sat">Copy Sat</button>
                    </div>

                    <div class="daily_form_block_line">
                      <div class="form_block_line_left">Shift</div>
                      <div class="form_block_line_right">
                        <%= f.fields_for :sunday_hash, @request.sunday_hash do |p| %>
                          <div class="form_block_spaced">
                            <%= p.label :start_time %>
                            <%= p.time_field :start_time %>
                          </div>
                          <div class="form_block_spaced">
                            <%= p.label :end_time %>
                            <%= p.time_field :end_time %>
                          </div>
                        </div>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Briefing Details</div>
                        <div class="column">
                          <div class="form_block_line_right">
                            <div class="form_block_spaced">
                              <%= p.label :b_time, "Time" %>
                              <%= p.time_field :b_time %>
                            </div>
                            <div class="form_block_spaced">
                              <%= p.label :b_location, "Location" %>
                              <%= p.text_field :b_location %>
                            </div>
                          </div>
                          <div class="form_block_line_right">
                            <div class="form_block_spaced">
                              <%= p.label :onsite_name, "Onsite Contact Name" %>
                              <%= p.text_field :onsite_name %>
                            </div>
                            <div class="form_block_spaced">
                              <%= p.label :onsite_number, "Onsite Contact Number" %>
                              <%= p.text_field :onsite_number %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Work Area Limits</div>
                        <div class="column">
                          <div class="form_block_line_right">
                            <div class="form_block_spaced">
                              <%= p.label :cp1, "CP1" %>
                              <%= p.select(:cp1, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                            </div>
                            <div class="form_block_spaced">
                              <%= p.label :mp1, "MP1"  %>
                              <%= p.number_field :mp1, min: 0, step: 0.1 %>
                            </div>
                          </div>
                          <div class="form_block_line_right">
                            <div class="form_block_spaced">
                              <%= p.label :cp1, "CP2"  %>
                              <%= p.select(:cp2, @cp_options.map { |value| [ value[0], value[1] ] }) %>
                            </div>
                            <div class="form_block_spaced">
                              <%= p.label :mp2, "MP2"  %>
                              <%= p.number_field :mp2, min: 0, step: 0.1 %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Track(s)</div>
                        <div class="form_block_line_right">
                          <div class="form_block_spaced">MT1<%= p.check_box :MT1, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">MT2<%= p.check_box :MT2, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">MT3<%= p.check_box :MT3, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">MT4<%= p.check_box :MT4, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">Other<%= p.check_box :other, {}, checked_value = 1, unchecked_value = 0 %></div>
                        </div>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Protection</div>
                        <div class="form_block_line_right">
                          <div class="form_block_spaced">TAW<%= p.check_box :taw, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">Form B<%= p.check_box :form_b, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">Form C<%= p.check_box :form_c, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">Track & Time<%= p.check_box :track_and_time, {}, checked_value = 1, unchecked_value = 0 %></div>
                          <div class="form_block_spaced">Inacc Track<%= p.check_box :inacc_track, {}, checked_value = 1, unchecked_value = 0 %></div>
                        </div>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Single Tracking</div>
                        <div class="form_block_line_right">
                          <%= p.radio_button :single_track, "single" %> Yes <br>
                          <%= p.radio_button :single_track, "multi" %> No <br>
                        </div>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Support Allocation</div>
                        <div class="form_block_line_right">
                          <div class="form_block_line_item">
                            <%= p.label :worker_primary, "Primary:" %>
                            <%= p.select(:worker_primary, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "primary_dropdown"}) %>
                            <%= p.label :worker_secondary1, "Secondary(s):" %>
                            <div>
                              <div>
                                <%= p.select(:worker_secondary1, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                                <%= p.select(:worker_secondary2, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                                <%= p.select(:worker_secondary3, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              </div>
                              <div>
                                <%= p.select(:worker_secondary4, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                                <%= p.select(:worker_secondary5, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                                <%= p.select(:worker_secondary6, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              </div>
                              <div>
                                <%= p.select(:worker_secondary7, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                                <%= p.select(:worker_secondary8, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                                <%= p.select(:worker_secondary9, @worker_options.map { |value| [ value[0], value[1] ] }, {}, {class: "secondary_dropdown"}) %>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% end %>
                      </div>
                      <div class="daily_form_block_line">
                        <div class="form_block_line_left">Requestor Notes</div>
                        <div class="form_block_line_right">
                          <%= f.text_area :requestor_notes_sun, class: "tall grow"  %>
                        </div>
                      </div>
                      <div class="daily_form_block_line <% if @user.role !="admin" && @user.role != "superadmin" %>hidden<% end %>">
                        <div class="form_block_line_left">Admin Notes</div>
                        <div class="form_block_line_right">
                          <%= f.text_area :admin_notes_sun, class: "tall grow"  %>
                        </div>
                      </div>
                      <div class="daily_form_block_line <% if @user.role !="inspector" && @user.role != "superadmin" %>hidden<% end %>">
                        <div class="form_block_line_left">Inspector Notes</div>
                        <div class="form_block_line_right">
                          <%= f.text_area :inspector_notes_sun, class: "tall grow"  %>
                        </div>
                      </div>
                    </div>

  <div class="form_header hidden">Reason for Late Submittal</div>
  <div class="form_block hidden">
    <div class="form_block_line">

    <%= f.label :late_reason, "Explain why request was not submitted at least two weeks prior to start of work:" %>
    <%= f.text_field :late_reason %>
    <br>
    <%= f.label :rush_reason, "Explain why work must be performed on short notice rather than in accordancy with standard RTW approval:" %>
    <%= f.text_field :rush_reason %>
    <%= f.label :change_reason, "Explain why the change is being requested" %>
    <%= f.text_field :change_reason %>
    <br>
  </div>

  </div>

  <div class="form_header">Submittal</div>
  <div class="hidden">
    <%= f.file_field :attachments, multiple: 1 %>
    <br>
  </div>
    <div class="form_block">
      <div class="form_block_line">
        <% if @action == 'edit' && @request.expired? && @user.role != 'superadmin' %>
          <p>Cannot save edits to expired/completed requests</p>
        <% else %>
          <% if @request.cancelled == 0 || params["copyfrom"] != nil %>
            <p>By submitting this RTW Request I verify that all provided information is true and correct to the best of my knowledge.</p>
            <input type="submit" value="Submit Request">
          <% else %>
            <p>Request has been cancelled. Cannot save edits to cancelled requests<p>
          <% end %>
        <% end %>
      </div>
    </div>

</div>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <br>

<% [["MonData", @request.monday_hash], ["TueData", @request.tuesday_hash], ["WedData", @request.wednesday_hash], ["ThuData", @request.thursday_hash], ["FriData", @request.friday_hash], ["SatData", @request.saturday_hash], ["SunData", @request.sunday_hash]].each do |day| %>
  <% if day[1]["start_time"] != "" && day[1]["start_time"] != nil  %>
    <input name="<%= day[0] %>" id="<%= day[0] %>" data-start="<%= day[1]["start_time"] %>" data-end="<%= day[1]["end_time"] %>" data-cp1="<%= day[1]["cp1"] %>" data-cp2="<%= day[1]["cp2"] %>" data-mp1="<%= day[1]["mp1"] %>" data-mp2="<%= day[1]["mp2"] %>" data-MT1="<%= day[1]["MT1"] %>" data-MT2="<%= day[1]["MT2"] %>" data-MT3="<%= day[1]["MT3"] %>" data-MT4="<%= day[1]["MT4"] %>" data-taw="<%= day[1]["taw"] %>" data-form_b="<%= day[1]["form_b"] %>" data-form_c="<%= day[1]["form_c"] %>" data-track_and_time="<%= day[1]["track_and_time"] %>"  data-single_track="<%= day[1]["single_track"] %>" data-worker_primary="<%= day[1]["worker_primary"] %>" data-worker_secondary1="<%= day[1]["worker_secondary1"] %>" data-worker_secondary2="<%= day[1]["worker_secondary2"] %>" data-worker_secondary3="<%= day[1]["worker_secondary3"] %>" data-worker_secondary4="<%= day[1]["worker_secondary4"] %>" data-worker_secondary5="<%= day[1]["worker_secondary5"] %>" data-worker_secondary6="<%= day[1]["worker_secondary6"] %>" data-worker_secondary7="<%= day[1]["worker_secondary7"] %>" data-worker_secondary8="<%= day[1]["worker_secondary8"] %>" data-worker_secondary9="<%= day[1]["worker_secondary9"] %>" data-cancelled="<%= day[1]["cancelled"] %>" data-other="<%= day[1]["other"] %>" data-inacc_track="<%= day[1]["inacc_track"] %>" data-btime="<%= day[1]["b_time"] %>" data-blocation="<%= day[1]["b_location"] %>" data-onsitename="<%= day[1]["onsite_name"] %>" type = hidden>
  <% end %>
<% end %>
